{% extends 'layout.html' %}
{% load crispy_forms_tags %}
{% load frontend_tags %}
{% load static %}
{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/adjustments.css' %}">
<link href="{% static 'css/plugins/textSpinners/spinners.css' %}" rel="stylesheet">
<style type="text/css">
    .select2-container--default .select2-selection--single {
        text-align: left !important;
    }
    .container {
        overflow-y: hidden;
    }

    .profile-nav .nav-link.active {
        color: black;
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
</style>
{% endblock %}
{% block content %}
<div class="container px-4">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox" >
                <div class="ibox-content product-box">
                    <div class="product-imitation" style="border-radius:10px !important;">
                        <img loading="lazy"  src="{{ employee.cover_photo.url }}" id="cover-photo" style="object-fit: cover; width:100%; height:256px;">
                    </div>
                    <button data-toggle="modal" id="btn-upload-cover" type="button" class="btn btn-sm btn-default" style="margin-top: -40px; margin-left: 910px; position: absolute; z-index: 999;">
                        <i class="fas fa-camera"></i> Edit Cover Photo
                    </button>
                </div>
            </div>
            <div style="margin-top: -60px; margin-left: 50px;">
                <img loading="lazy"  src="{{ employee.picture.url }}" id="picture" class="img-circle" style="width: 200px; height: 200px; object-fit: cover; margin-bottom: 10px;">
                <button class="btn btn-circle btn-secondary btn-lg" id="btn-upload-picture" style="margin-left: -40px; margin-top: 80px;"><i class="fas fa-camera"></i></button>
                    <div style="margin-top: -130px; margin-left: 220px;">
                    <h2 class="font-weight-bold">
                        {{ employee.pi.user.first_name|upper }} {{ employee.pi.user.middle_name|to_middleinitial|upper  }} {{ employee.pi.user.last_name|upper }}
                    </h2>
                    <h3 class="no-margins">{{ employee.position.name }}</h3>
                    <p class="no-margins">@{{ employee.pi.user.username }}</p>
                    {% if badges %}
                        {% for row in badges %}
                            <img loading="lazy" data-toggle="popover" class='shimmer' data-placement="right" data-content="<center><img loading='lazy' class='shimmer' src='{% if row.permission.badge %}{{ row.permission.badge.url }}{% endif %}' style='width: 250px; height: 250px;'><br><strong>{{ row.permission.name }}</strong>{% if row.permission.description %}<br>{{ row.permission.description }}{% endif %}</center>" data-html="true" src="{% if row.permission.badge %}{{ row.permission.badge.url }}{% endif %}" style="width: 70px; height: 70px; object-fit: cover;">
                        {% endfor %}
                        <a href="javascript:;" data-toggle="modal" data-target="#see-all-badges-modal">See All</a>
                        <br><br>
                    {% else %}
                        <br><br><br><br><br>
                    {% endif %}
                </div>
            </div>
            <form id="uploadForm" enctype="multipart/form-data" style="display: none;">
                {% csrf_token %}
                <div class="form-group">
                    {{ upload_form.picture|as_crispy_field }}
                </div>
                <button type="submit" class="btn btn-info"><i class="fa fa-check"></i> Save changes</button>
            </form>
            <form id="uploadCoverPhotoForm" enctype="multipart/form-data" style="display: none;">
                {% csrf_token %}
                <div class="form-group">
                    {{ upload_cover_photo_form.cover_photo|as_crispy_field }}
                </div>
                <button type="submit" class="btn btn-info"><i class="fa fa-check"></i> Save changes</button>
            </form>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-lg-12">
            <div class="card card-info card-tabs">
				<div class="card-header p-0 pt-1">
					<ul class="nav nav-tabs" id="tabUL" role="tablist">
						<li class="nav-item personal-information">
                            <a class="nav-link active" data-toggle="tab" href="#personal-information" id="btn-personal-information">
                                Personal Information
                            </a>
                        </li>
						<li class="nav-item personal-data-sheet">
                            <a class="nav-link" data-toggle="tab" href="#personal-data-sheet" id="btn-personal-data-sheet">
                                Personal Data Sheet
                            </a>
                        </li>
					</ul>
				</div>
                <div class="card-body" id="view-profile">
                    <div class="tabs-container">
                        <div class="tab-content" style="padding: 0px;">
                        </div>
					</div>
				</div>
			</div>
        </div>
    </div>
</div>

<div class="modal" id="see-all-badges-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content animated bounceInDown">
                <div class="modal-body">
                    <button type="button" class="close text-white" data-dismiss="modal" style="color: #1b2a33 !important; opacity: 1;"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <br><br>
                    <center>
                        <h2 class="bold">Your <span class="text-info">CDO PORTAL</span> Badges</h2>
                        <br>
                        <div class="row justify-content-center">
                        {% for row in all_badges %}
                            <div class="col-lg-3 m-2">
                                <img loading="lazy"  data-toggle="popover" class='shimmer' data-placement="right" data-content="<center><img loading='lazy' class='shimmer' src='{% if row.permission.badge %}{{ row.permission.badge.url }}{% endif %}' style='width: 250px; height: 250px;'><br><strong>{{ row.permission.name }}</strong>{% if row.permission.description %}<br>{{ row.permission.description }}{% endif %}</center>" data-html="true" src="{% if row.permission.badge %}{{ row.permission.badge.url }}{% endif %}" style="width: 120px; height: 120px; object-fit: cover;">
                            </div>
                        {% endfor %}
                        </div>
                    </center>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
<script type="text/javascript">
    $(document).ready(function() {
        if (location.hash) {
			$("a[href='" + location.hash + "']").tab("show");
		}

		$(document.body).on("click", "a[data-toggle='tab']", function(event) {
			location.hash = this.getAttribute("href");
		});

        $('#btn-personal-data-sheet').on('click', function(){
            callPage("{% url 'pds_pageone' request.session.pi_id %}");
        });

        $('#btn-personal-information').on('click', function(){
            callPage("{% url 'about' %}");
        });

        $('#id_picture').on('change', function(){
            readURLPicture(this);
        });

        function readURLPicture(input) {
            var url = input.value;
            var ext = url.substring(url.lastIndexOf('.') + 1).toLowerCase();
            if (input.files && input.files[0]&& (ext == "gif" || ext == "png" || ext == "jpeg" || ext == "jpg")) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#picture').attr('src', e.target.result);
                }
                $('#uploadForm').submit();
                reader.readAsDataURL(input.files[0]);
            }
        }

        $('#btn-upload-picture').on('click', function(){
            $('#id_picture').trigger('click');
        });

        $('#uploadForm').on('submit', function(e){
            $.ajax({
                data        : new FormData(this),
                url         : '{% url "upload_picture" employee.id %}',
                type        : 'POST',
                cache       : false,
                contentType : false,
                processData : false
            })
            .done(function(response){
                if(response) {
                    $("#profile-picture").attr("src", response.picture);
                    $("#profile-picture-in-my-profile").attr("src", response.picture);
                    toastr.success(response.msg, "Success!", {timeOut: 2000});
                }
            });
            e.preventDefault();
        });

        $('#id_cover_photo').on('change', function(){
            readURLCoverPhoto(this);
        });

        function readURLCoverPhoto(input) {
            var url = input.value;
            var ext = url.substring(url.lastIndexOf('.') + 1).toLowerCase();
            if (input.files && input.files[0]&& (ext == "gif" || ext == "png" || ext == "jpeg" || ext == "jpg")) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#cover_photo').attr('src', e.target.result);
                }
                $('#uploadCoverPhotoForm').submit();
                reader.readAsDataURL(input.files[0]);
            }
        }

        $('#btn-upload-cover').on('click', function(){
            $('#id_cover_photo').trigger('click');
        });

        $('#uploadCoverPhotoForm').on('submit', function(e){
            $.ajax({
                data        : new FormData(this),
                url         : '{% url "upload_cover_photo" %}',
                type        : 'POST',
                cache       : false,
                contentType : false,
                processData : false
            })
            .done(function(response){
                 if(response) {
                    $("#cover-photo").attr("src", response.cover_photo);
                    toastr.success(response.msg, "Success!", {timeOut: 2000});
                }
            });
            e.preventDefault();
        });

        if (location.hash == ''){
            $('#btn-personal-information').click();
        } else {
            $('.removeActive').removeClass('active');
            $('#btn-'+location.hash.substring(1)).click();
        }
    });

    $(window).bind('hashchange', function() {
        if (location.hash == ''){
            $('#btn-personal-information').click();
        } else {
            $('.removeActive').removeClass('active');
            $('#btn-'+location.hash.substring(1)).click();
        }
    });

    function callPage(pageRefInput) {
        $.ajax({
            url: pageRefInput,
            type: "GET",
            dataType: 'text',
            beforeSend: function() {
                $('#view-profile').find('.tabs-container .tab-content').empty();
                $('#view-profile').find('.tabs-container .tab-content').append('<div class="spinner-example" id="preloader"><div class="sk-spinner sk-spinner-double-bounce"><div class="sk-double-bounce1"></div><div class="sk-double-bounce2"></div></div><br><p class="text-center">Loading..</p></div>');
            },
            success: function(response) {
                $('#view-profile').find('.tabs-container .tab-content').html(response);
            },
            complete: function() {
                $('#preloader').css('display', 'none');
            }
        });
    }
</script>
{% endblock %}
