<!DOCTYPE html>
{% load static %}
{% load tags %}
{% load frontend_tags %}
{% load qr_code %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="{% static 'tracker/img/tracker-logo.png' %}"/>
    <title>My PORTAL | Convocation Link</title>
    <link href="{% static 'tracker/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'font-awesome/css/all.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/plugins/sweetalert/sweetalert.css' %}" rel="stylesheet">
    <link href="{% static 'tracker/css/tracker.css' %}" rel="stylesheet">
</head>
<body>
    <div class="page-header">
        <div class="col-lg-4 mx-auto" style="margin-top: 50px;">
            <center>
                <img src="{% static 'image/new_logo.png' %}" width="30%" alt="The My PORTAL Logo" class="img-fluid mb-3">
            </center>
            <div class="card border-0 shadow-sm mb-5 bg-body rounded">
                <div class="card-body">
                    <center>
                        <h2 class="fw-bold text-center">Convocation Attendance</h2>
                        <h3 class="text-center">{{ event.date }} - {{ event.time }} ({% if event.status == 0 %}Time In{% else %}Time Out{% endif %})</h3>
                        <br>
                        <h5>Scan QR Code to get the link or copy the link below</h5>
                        {% generate_token event.id as token %}
                        {% get_convocation_link "https://caraga-portal.dswd.gov.ph/convocation/attendance/link" token as convocation_link %}
                        {% qr_from_text convocation_link size="L" format_dark_color="red" finder_dark_color="#1d58a6" %}
                        <h5>https://caraga-portal.dswd.gov.ph/convocation/attendance/link/{{ token }}</h5>
                    </center>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'tracker/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/plugins/sweetalert/sweetalert2.all.min.js' %}"></script>
    {% block script %}{% endblock %}
</body>
</html>