<!DOCTYPE html>
{% load static %}
{% load tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="{% static 'image/logo.ico' %}"/>
    <title>My PORTAL | Scripts</title>
    <link href="{% static 'tracker/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'font-awesome/css/all.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/plugins/sweetalert/sweetalert.css' %}" rel="stylesheet">
    <link href="{% static 'tracker/css/datatables.min.css' %}" rel="stylesheet">
    <link href="{% static 'epay/css/epay.css' %}" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="{% url 'epay_home' %}">
                <img src="{% static 'image/logo.png' %}" alt="" width="30" height="30">
                <strong>My PORTAL Support</strong>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-4">
                <form id="passwordResetForm">
                {% csrf_token %}
                <div class="card">
                    <div class="card-body border-bottom-0">
                        <h5 class="card-title fw-bold">PASSWORD RESET - MULTIPLE</h5>
                        <br>
                        <label>ID Number</label>
                        <textarea class="form-control" name="id_number" placeholder="e.g. 16-12346, 16-12345"></textarea>
                    </div>
                    <div class="card-footer border-top-0 bg-white">
                        <button type="submit" class="btn btn-info btn-sm">Reset</button>
                    </div>
                </div>
                </form>
            </div>
            <div class="col-lg-8">
                <div class="card">
                    <div class="card-body">
                        <button type="button" class="btn btn-info btn-sm" id="open-test-account-modal">Test Account</button>
                        <br><br>
                        <table class="table table-bordered table-hover w-100" id="table-password-reset-logs">
                            <thead>
                                <th>Success Logs</th>
                                <th class="text-center">Date</th>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="test-account-modal" role="dialog" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"><strong>TEST ACCOUNT</strong></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div id="test-account-content"></div>
            </div>
        </div>
    </div>
    <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'tracker/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/plugins/sweetalert/sweetalert2.all.min.js' %}"></script>
    <script src="{% static 'tracker/js/datatables.min.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
    {% block script %}{% endblock %}
    <script>
        $('#open-test-account-modal').on('click', function(){
            $('#test-account-content').load('{% url "test_user_login" %}', function(){
                 $('#test-account-modal').modal('show');
            });
        });

        $('#passwordResetForm').on('submit', function(e){
            var form = this;

            var url = '{% url "password_reset_multiple" %}';
            var title = "Are you sure";
            var text = "You want to update this account password";
            var table_id = '#table-password-reset-logs'
            submitFormWithConfirmation(form, url, title, text, {table_id: table_id});

            e.preventDefault();
        });

        $('#table-password-reset-logs').DataTable({
            'serverSide': true,
            'processing': true,
            'deferRender': true,
            'order': [[ 1, 'desc' ]],
            'lengthMenu': [ 25, 50, 100 ],
            'ajax': {
                'url': '/api/portal/success/logs/?format=datatables&pk={{ request.session.emp_id }}&type=password_reset',
                'type': 'GET',
            },
            'fnCreatedRow': function (row, data, index) {
                $(row).attr('id', data['id']);
            },
            'columns': [
                {'data': 'logs' },
                {'data': 'date_created', 'className': 'text-center' }
            ],
        });

        $(document).on('click', 'a[data-role=test-account]', function() {

        });
    </script>
</body>
</html>