{% load frontend_tags %}
<div class="modal-body">
    <button type="button" class="close text-white" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <button type="button" class="btn btn-info" id="btn-checklist-back">Back</button>
    <hr>
    <div class="row">
        <div class="col-md-6 text-center">
            <img loading="lazy"  alt="image" class="img-circle" src="{{ nominees.awards.badge.url.url }}" style="cursor:pointer; width: 400px; height: 400px; object-fit: cover;">
        </div>
        <div class="col-md-6" style="margin-top: 160px;">
            <h3 class="no-margins" style="font-weight:normal;">{{ nominees.awards.classification.shortname }} {{ nominees.awards.year }}</h3>
            <h1 class="no-margins bold" style="font-weight:bold;">{{ nominees.awards.name }}</h1>
            <h3 class="" style="font-weight:normal; margin-bottom:3px !important;">{{ nominees.awards.level }} / {{ nominees.awards.category.name }}</h3>
            <h4 class="" id="numberofnominees{{row.id}}" style="font-weight:normal;">Number of Nominees: {% get_numberofnominees nominees.awards.id %}</h4>
        </div>
    </div>
    {% if nominees.title %}
    <div class="form-group">
        <label>Title</label>
        <input type="text" class="form-control" value="{{ nominees.title }}" readonly>
    </div>
    {% endif %}
    <div class="row">
        <div class="form-group col-lg-6">
            <label>Nominee</label>
            <input type="text" class="form-control" value="{{ nominees.nominee.pi.user.get_fullname|upper }}" readonly>
        </div>
        <div class="form-group col-lg-6">
            <label>Nominated by</label>
            <input type="text" class="form-control" value="{{ nominees.nominated_by.pi.user.get_fullname|upper }}" readonly>
        </div>
    </div>
    <div class="form-group">
        <label>Overall statement on the consistent demonstration of exemplary ethical behavior and render of extraordinary work performance or service.</label>
        <textarea class="form-control" rows="10" readonly>{{ nominees.why }}</textarea>
    </div>
    <hr>
    <label>Eligibility Criteria Checklist</label>
    <br>
    <form id="eligibilityForm">
    {% csrf_token %}
    <table class="table table-bordered">
    {% for row in eligibility %}
    {% get_eligibility_checklist row.id nominees.id as checklist %}
    <tbody>
        <tr>
            <td class="text-center" width="5%">
                <input type="checkbox" class="eligibility-criteria" value="{{ row.id }}" name="eligibility[]" {% if checklist %}checked{% endif %}>
            </td>
            <td>
                <span class="text-justify">{{ row.eligibility }}</span>
            </td>
        </tr>
    </tbody>
    {% endfor %}
    </table>
    <br>
    <button type="submit" class="btn btn-success" id="btn-qualified" style="display:none;">Qualified</button>
    <button type="button" class="btn btn-info" id="btn-update-eligibility">Update</button>
    </form>
</div>
{% block script %}
<script>
    $(".eligibility-criteria").change(function(){
        if ($('.eligibility-criteria:checked').length == $('.eligibility-criteria').length) {
            $('#btn-qualified').css('display', '');
        } else {
            $('#btn-qualified').css('display', 'none');
        }
    });

    $('#btn-update-eligibility').on('click', function(e){
        var eligibility_list = [];
        $(".eligibility-criteria").each(function(){
            if ($(this).is(":checked")) {
                eligibility_list.push($(this).val());
            }
        });
        Swal.fire({
		    title: "Are you sure?",
		    text: "You want to update this checklist",
		    icon: "info",
		    showCancelButton: true,
		    confirmButtonText: "Yes",
		    confirmButtonColor: "#3498DB",
		    allowOutsideClick: false,
		    showLoaderOnConfirm: true,
		    preConfirm: function (){
                return $.ajax({
                    data        : {
                        'eligibility': eligibility_list,
                    },
                    url         : '{% url "update_checklist_eligibility" nominees.id %}',
                    type        : 'POST',
                });
		    },
		}).then(function (response){
		    if (response.value.data == "success"){
                Swal.fire({
                    title: "Good job!",
                    text: response.value.msg,
                    icon: "success",
                    confirmButtonColor: "#3498DB",
                }).then((result) => {
                    if (result.isConfirmed){
                        var awards_id = '{{ nominees.awards_id }}';
                        $('#edit-modal').modal('show').find('#detail-content').load("/backend/validate-nominees/" + awards_id);
                    }
                });
            }
        });
    });

    $('#eligibilityForm').on('submit', function(e){
        var form = new FormData(this);
        Swal.fire({
		    title: "Are you sure?",
		    text: "You want to mark nomination for {{ nominees.nominee.pi.user.get_fullname|upper }} as verified",
		    icon: "info",
		    showCancelButton: true,
		    confirmButtonText: "Yes",
		    confirmButtonColor: "#3498DB",
		    allowOutsideClick: false,
		    showLoaderOnConfirm: true,
		    preConfirm: function (){
                return $.ajax({
                    data        : form,
                    url         : '{% url "eligibility_criteria_checklist" nominees.id %}',
                    type        : 'POST',
                    cache       : false,
                    contentType : false,
                    processData : false,
                });
		    },
		}).then(function (response){
		    if (response.value.data == "success"){
                Swal.fire({
                    title: "Good job!",
                    text: response.value.msg,
                    icon: "success",
                    confirmButtonColor: "#3498DB",
                }).then((result) => {
                    if (result.isConfirmed){
                        var awards_id = '{{ nominees.awards_id }}';
                        $('#edit-modal').modal('show').find('#detail-content').load("/backend/validate-nominees/" + awards_id);
                    }
                });
            }
        });
        e.preventDefault();
    });

    $('#btn-checklist-back').on('click', function(){
        var awards_id = '{{ nominees.awards_id }}';
        $('#edit-modal').modal('show').find('#detail-content').load("/backend/validate-nominees/" + awards_id);
    });
</script>
{% endblock %}