{% extends 'tracker/layout.html' %}
{% load static %}
{% block content %}
    <div class="px-4 pt-5 my-5 text-center border-bottom">
        <h1 class="display-4 fw-bold">
            Tracker
        </h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">
                the cutting-edge paperless transmittal feature offered exclusively by My PORTAL! Simplify document tracking, streamline processes, and boost productivity with our innovative solution. Say goodbye to the hassle of logbooks and hello to the future of efficient document management. Experience the difference for yourself today!
            </p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
                <a href="{% url 'ship_documents' %}" class="btn btn-info btn-lg px-4 me-sm-3">Get Started</a>
            </div>
        </div>
        <div class="overflow-hidden" style="max-height: 30vh;">
            <div class="container px-5">
                <img src="{% static 'tracker/img/intro.png' %}" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="700" height="500" loading="lazy">
            </div>
        </div>
    </div>
{% endblock %}