{% extends 'tracker/layout.html' %}
{% load tags %}
{% load static %}
{% block content %}
<div class="mt-3">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'tracker' %}">Home</a></li>
                <li class="breadcrumb-item active">Ship Documents</li>
                <li class="breadcrumb-item active">Leave</li>
            </ol>
        </nav>
        <div class="row mt-3">
            <div class="col-lg-8">
                <div class="card">
                    <div class="card-body">
                        <div class="alert alert-info">
                            <i class="fas fa-info-circle"></i> You can now search directly on employee leave application
                        </div>
                        <form id="addEmployeeForm">
                        {% csrf_token %}
                        <label>Search Employee <span class="text-danger">*</span></label>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control form-control-sm filter-leave-employee" name="employee_name" id="employee_name" placeholder="e.g. [16-12345] JUAN DELA CRUZ" autocomplete="off" required>
                            <button type="submit" class="btn btn-sm btn-info">Add employee</button>
                        </div>
                        </form>
                        {% if drafts %}
                            {% for row in drafts %}
                            {% generate_token row.tracking_number as token %}
                            <div id="content-{{ token }}">
                                <div class="row border-bottom mb-2">
                                    <div class="col-lg-1">
                                        <center>
                                            <button type="button" class="btn btn-danger btn-sm" data-role="remove-employee" data-id="{{ token }}">
                                                <i class="fas fa-trash"></i>
                                            </button>
                                        </center>
                                    </div>
                                    <div class="col-lg-11 mb-2">
                                        <input type="hidden" class="check-item" value="{{ row.tracking_number }}" checked>
                                        <p class="no-margins"><strong>{{ row.emp.pi.user.get_fullname|upper }}</strong> - [{{ row.tracking_number }}] {{ row.get_details.0 }} ({{ row.get_details.1 }})</p>
                                        <small>{{ row.emp.position.name }}</small>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        {% endif %}
                        <div id="employee-add-content"></div>
                        <button class="btn btn-danger btn-sm" type="button" id="action-filter">Make Action</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <p><strong>LEAVE WITHIN THIS MONTH</strong></p>
                        {% if leave_within_month %}
                        <table class="table">
                        {% for row in leave_within_month %}
                            <tr>
                                <td>
                                    <strong>{{ row.full_name|upper }}</strong><br>
                                    [{{ row.tracking_no }}] {{ row.leave_type }} ({{ row.leave_dates }})<br>
                                    {{ row.position }}
                                </td>
                                <td class="align-middle">
                                    <button type="button" class="btn btn-info" data-role="addEmployeeWithinMonth" data-id="{{ row.tracking_no }}">
                                        <i class="fas fa-plus"></i>
                                    </button>
                                </td>
                            </tr>
                        {% endfor %}
                        {% else %}
                            No pending leave this month
                        {% endif %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="action-modal" role="dialog" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><strong>ADD TRACKING</strong></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="actionForm">
            {% csrf_token %}
            <div class="modal-body">
                <div class="form-group mb-3">
                    <label>Tracking Status <span class="text-danger">*</span></label>
                    <select class="form-select form-select-sm" name="tracker_status" required>
                    {% for row in tracker_status %}
                        <option value="{{ row.id }}">{{ row.name }}</option>
                    {% endfor %}
                    </select>
                </div>
                <div class="form-group mb-3">
                    <label>Forward to <span class="text-danger">*</span></label>
                    <input type="text" class="form-control form-control-sm filter-employee-all" name="forward_to" autocomplete="off" required>
                </div>
                <div class="form-group">
                    <label>Remarks</label>
                    <textarea class="form-control form-control-sm" rows="5" name="remarks" autocomplete="off"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-info btn-sm">Add Tracking</button>
            </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script src="{% static 'js/app.js' %}"></script>
<script>
    var tracking_no_list = []
    $(document).on('click', 'button[data-role=addEmployeeWithinMonth]', function(){
        var tracking_no = $(this).data('id');
        $.ajax({
            data: {
                tracking_no: tracking_no
            },
            url: '{% url "add_leave_employee_within_month" %}',
            type: 'POST',
            success: function(response){
                if (tracking_no_list.includes(response.id)) {
                    console.log("Sulod ko!");
                    Swal.fire('Ooops!', 'This leave application has already been added.', 'warning');
                } else {
                    $('#employee-add-content').append(
                        `
                        <div id="content-` + response.pk + `">
                        <div class="row border-bottom mb-2">
                            <div class="col-lg-1">
                                <center>
                                    <button type="button" class="btn btn-danger btn-sm" data-role="remove-employee" data-id="` + response.pk + `">
                                        <i class="fas fa-trash"></i>
                                    </button>
                                </center>
                            </div>
                            <div class="col-lg-11 mb-2">
                                <input type="hidden" class="check-item" value="` + response.id + `" checked>
                                <p class="no-margins"><strong>` + response.full_name + `</strong> - [` + response.id + `] ` + response.leave_type + ` (` + response.leave_dates + `)</p>
                                <small>` + response.position + `</small>
                            </div>
                        </div>
                        </div>
                        `
                    );

                    tracking_no_list.push(response.id);
                }
            }
        })
    });

    $('#addEmployeeForm').on('submit', function(e){
        var form = new FormData(this);
        $.ajax({
            data        : form,
            url         : '{% url "add_leave_employee" %}',
            type        : 'POST',
            success: function(response){
                if (tracking_no_list.includes(response.id)) {
                    Swal.fire('Ooops!', 'This leave application has already been added.', 'warning');
                } else {
                    $('#employee-add-content').append(
                        `
                        <div id="content-` + response.pk + `">
                        <div class="row border-bottom mb-2">
                            <div class="col-lg-1">
                                <center>
                                    <button type="button" class="btn btn-danger btn-sm" data-role="remove-employee" data-id="` + response.pk + `">
                                        <i class="fas fa-trash"></i>
                                    </button>
                                </center>
                            </div>
                            <div class="col-lg-11 mb-2">
                                <input type="hidden" class="check-item" value="` + response.id + `" checked>
                                <p class="no-margins"><strong>` + response.full_name + `</strong> - [` + response.id + `] ` + response.leave_type + ` (` + response.leave_dates + `)</p>
                                <small>` + response.position + `</small>
                            </div>
                        </div>
                        </div>
                        `
                    );

                    tracking_no_list.push(response.id);
                    $('#addEmployeeForm').trigger('reset');
                }
            },
            cache       : false,
            contentType : false,
            processData : false,
        })
        e.preventDefault();
    });

    $(document).on('click', 'button[data-role=remove-employee]', function(){
        var id = $(this).data('id');
        $.post({
            url: '/tracker/remove/draft/',
            data: {
                tracking_no: id,
                docu_type: 1
            },
        });
        $('#content-'+ id).remove();
    });

    $('#employee_name').on('keyup', function(){
        $(".filter-leave-employee").typeahead({
            source: function(query, process){
                return $.get({
                    url: '{% url "filter_leave_employee" %}',
                    data: {
                        query: query,
                    },
                    datatype: 'json',
                    success: function (data) {
                        return process(data);
                    }
                });
            },
            highlight: true,
        });
    });

    $(".filter-employee-all").typeahead({
        source: function(query, process){
            return $.get({
                url: '{% url "filter_employee_all" %}',
                data: { query: query },
                datatype: 'json',
                success: function (data) {
                    return process(data);
                }
            });
        },
        highlight: true,
    });

    var input_checkbox = false;

    $('#action-filter').on('click', function(){
        $('.check-item').each(function(){
            if ($(this).prop('checked')) {
                input_checkbox = true
            }
        })

        if(input_checkbox) {
            $('#action-modal').modal('show');
        } else {
            Swal.fire('Ooops!', 'The action button cannot be opened because there are no selected fields.', 'warning');
        }
    });

    $('#actionForm').on('submit', function(e){
        var data = [];
    	$('.check-item').each(function(){
            if ($(this).prop('checked') == true){
                data.push($(this).val());
            }
        });

        var form = this;

        var url = '{% url "leave_tracker" %}';
        var title = "Are you sure";
        var text = "You want to transmit this leave application";
        var modal_id = "#action-modal";
        var data_value = 'tracking_no[]';
        var link_attr = '{% url "track_package" %}';

        submitFormWithConfirmation(form, url, title, text, {data: data, data_value: data_value, link_attr: link_attr, modal_id: modal_id});

        e.preventDefault();
    });
</script>
{% endblock %}