{% load static %}
<img loading="lazy"  src="{% static 'image/dswd_logo_3.png' %}" width="25%">&emsp;&emsp;&emsp;
<br>
<span style="font-family: Times New Roman; font-size: 10.7px;"><em>DSWD-GF-010</em> | <em>REV 01 / 17 AUG 2022</em></span>
<hr>

<p style="font-size: 16px;" class="no-margins"><strong>Regional Special Order</strong></p>
<p style="font-size: 16px;" class="no-margins">No.</p>
<p style="font-size: 16px;">Series of 2022</p>
<br>
<p style="font-size: 16px;" class="text-center">Subject: <strong>Designation</strong></p>
<p style="font-size: 16px;">&emsp;&emsp;&emsp;&emsp;The following newly appointed contractual staff is hereby assigned to her area of
assignment and authorized to perform such duties and responsibilities, to wit:</p>
<hr class="border-black" style="margin-top: -10px;">
<p style="font-size: 12px; font-family: Times New Roman;" class="text-center">
    DSWD Field Office Caraga, R. Palma St., Butuan City, Philippines (8600)<br>
    Website: https://caraga.dswd.gov.ph&emsp;&emsp;Tel Nos.: (085) 303-8620
</p>