<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Security-Policy" content="default-src *; style-src * 'unsafe-inline'; script-src * 'unsafe-inline';" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="{% static 'image/logo.ico' %}" />
    <title>HRPEARS | Forgot Password</title>
    <link href="{% static 'css/adminlte.min.css' %}" rel="stylesheet">
    <link href="{% static 'font-awesome/css/all.min.css' %}" rel="stylesheet">
    <link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style_new.css' %}" rel="stylesheet">
    <link href="{% static 'css/plugins/textSpinners/spinners.css' %}" rel="stylesheet">
    <style>
        .invalid-feedback{
            color:#fb4347;
        }

        .loading{
            overflow: hidden;
        }

        th {
            vertical-align: middle !important;
        }

        li.nav-item.active {
            border-bottom: 1px solid white;
        }
    </style>
    {% block style %}{% endblock %}
</head>
<body class="login-page" style="min-height: 466px;">
    <div class="login-box">
        <div class="card card-outline card-info">
            <div class="card-header text-center py-3">
                <a href="{% url 'home' %}" class="h1 font-weight-bolder text-dark">
                    <img loading="lazy" src="{% static 'image/dswd_logo_4.png' %}" style="width: 150px;"><br>
                    HR <span class="text-info">PEARS</span>
                </a>
            </div>
            <div class="card-body">
                <div id="alertDiv"></div>
                <h2 class="font-weight-bold">Find your Account</h2>
                <p class="">Enter your ID Number for the verification process. We will send 6 digits code to your phone.</p>
                <form id="resetForm">
                  {% csrf_token %}
                  <div class="input-group my-3">
                      <input class="form-control" id="id_number" type="text" name="id_number" autocomplete="off" required placeholder="ID Number">
                  </div>
                  <div class="row my-4 justify-content-center">
                       <script src="https://www.google.com/recaptcha/enterprise.js"></script>
                       <!-- <div class="g-recaptcha" data-sitekey="6LdviewpAAAAAL4r0oSqTvuYnar7qjeuYLSvy9rT"></div> -->
                       <div class="g-recaptcha" data-sitekey="6LdhhdQrAAAAAEI4VbrqR22YXBDa6Yeif_georwY"></div>
                  </div>
                  <div class="row">
                       <button id="submitBtn" type="submit" class="btn btn-info btn-block">Search</button>
                  </div>
              </form>
            </div>
        </div>
    </div>

    <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'js/plugins/jquery-ui/jquery-ui.min.js' %}"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>$.widget.bridge('uibutton', $.ui.button)</script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/adminlte.min.js' %}"></script>
    <script>
        $(document).ready(function () {
            $('#resetForm').on('submit', function(e){
                e.preventDefault();
                var form = new FormData(this);
                $.ajax({
                    url: '{% url "forgot_password" %}',
                    data: form,
                    type: 'POST',
                    beforeSend: function() {
                        $("#submitBtn").html('<span class="loading open-circle" style="font-size: 25px;"></span>');
                    },
                    success: function(response){
                        if(response.data) {
                            window.location.href = "/forgot-password/code/" + response.token;
                        } else{
                            $("#submitBtn").html('Search');
                            $("#alertDiv").html(`
                                <div class="alert alert-danger" role="alert">
                                    <span class="font-weight-bold" style="font-size: 16px;"><i class="fas fa-info-circle"></i> ` + response.msg + `</span>
                                </div>
                            `);
                        }
                    },
                    cache       : false,
                    contentType : false,
                    processData : false,
                });
            });

            $(document).keydown(function (event) {
                if (event.keyCode == 123) {
                    return false;
                } else if (event.ctrlKey && event.shiftKey && event.keyCode == 73) {
                    return false;
                }
            });
        });
    </script>
    {% block script %}{% endblock %}
</body>
</html>
