<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
	<meta http-equiv="Content-Security-Policy" content="default-src *; style-src * 'unsafe-inline'; script-src * 'unsafe-inline';">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="{% static 'image/logo.ico' %}"/>
    <title>DSWD My PORTAL | Set New Password</title>
    <link href="{% static 'css/tailwind.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/plugins/textSpinners/spinners.css' %}" rel="stylesheet">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700;900&display=swap');
        body {
            font-family: Inter !important;
        }
    </style>
</head>
<body>
    <div class="min-h-screen bg-white flex">
        <div class="flex-1 flex flex-col justify-center py-12 px-4 sm:px-6 lg:flex-none lg:px-20 xl:px-24">
            <div class="mx-auto w-full max-w-sm">
                <div>
                    <h2 class="mt-6 text-4xl leading-9 font-extrabold text-gray-900">Caraga <span class="text-green-500">PORTAL</span></h2><br>
                    <h4 class="font-semibold text-2xl">Set New Password</h4>
                    <p class="mt-2 text-sm leading-5 text-gray-600 max-w">
                        A strong password is a combination of letters and punctuation marks. It must be atleast 8 characters long.
                    </p>
                </div>
                <div class="mt-8">
                    <div class="mt-6">
                        <div id="alertDiv"></div>
                        <form id="newPasswordForm">
                            {% csrf_token %}
                            <div>
                                 <label for="password" class="block text-sm font-medium leading-5 text-gray-700">
                                    New Password
                                </label>
                                <div class="mt-1 rounded-md shadow-sm">
                                    <input
                                        id="password"
                                        type="password"
                                        name="password"
                                        autocomplete="off"
                                        required
                                        class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md placeholder-gray-400 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 transition duration-150 ease-in-out sm:text-sm sm:leading-5"
                                    />
                                </div>
                            </div>
                            <br>
                            <div>
                                 <label for="password2" class="block text-sm font-medium leading-5 text-gray-700">
                                    Confirm Password
                                </label>
                                <div class="mt-1 rounded-md shadow-sm">
                                    <input
                                        id="password2"
                                        type="password"
                                        name="password2"
                                        autocomplete="off"
                                        required
                                        class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md placeholder-gray-400 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 transition duration-150 ease-in-out sm:text-sm sm:leading-5"
                                    />
                                </div>
                            </div>
                            <div class="mt-6">
                                <span class="block w-full rounded-md shadow-sm">
                                    <button
                                        id="submitBtn"
                                        type="submit"
                                        class="w-full flex justify-center py-2 px-4 border border-transparent font-medium rounded-md text-white bg-green-500 hover:bg-green-400 focus:outline-none focus:border-green-500 focus:shadow-outline-green active:bg-green-700 transition duration-150 ease-in-out"
                                    >
                                        <strong>Continue</strong>
                                    </button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="hidden lg:block relative w-0 flex-1">
            <img loading="lazy"  class="absolute inset-0 h-full w-full object-cover" src="{% static 'image/background.jpg' %}" alt="" />
        </div>
    </div>
    <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
    <script>
		$('#newPasswordForm').on('submit', function(e){
			e.preventDefault();
			var form = new FormData(this);
			if($('#password').val() == $('#password2').val()){
				$.ajax({
					url: '{% url 'set_new_password' token %}',
					data: form,
					type: 'POST',
					beforeSend: function() {
						$("#submitBtn").html('<span class="loading open-circle" style="font-size: 25px;"></span>');
					},
					success: function(response){
						if(response.data) {
							$('#newPasswordForm').html(`
							    <div class="bg-green-100 border-t-4 border-green-500 rounded-b text-green-900 px-4 py-3 shadow-md" role="alert">
                                   <div class="flex">
                                        <div class="py-1">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-green-500 mr-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                                            </svg>
                                        </div>
                                        <div>
                                            <p class="font-bold">Password reset successful</p>
                                            <p class="text-sm">` + response.msg +` </p> <br><a href="{% url 'home' %}" class="text-green-500 text-sm font-semibold">Please try logging in your account.</a>
                                        </div>
                                    </div>
                                </div><br>
							`);
						} else{
							$("#submitBtn").html('Continue');
							$('#resetError').html(`
							    <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
                                   <div class="flex">
                                        <div class="py-1"><svg class="fill-current h-6 w-6 text-teal-500 mr-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM9 11V9h2v6H9v-4zm0-6h2v2H9V5z"/></svg></div>
                                        <div>
                                            <p class="font-bold">Password reset unsuccessful</p>
                                            <p class="text-sm">` + response.msg +` </p>
                                        </div>
                                    </div>
                                </div><br>
							`);
						}
					},
					cache       : false,
					contentType : false,
					processData : false,
				});
			} else {
				$('#alertDiv').html(`
				    <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
                       <div class="flex">
                            <div class="py-1"><svg class="fill-current h-6 w-6 text-teal-500 mr-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM9 11V9h2v6H9v-4zm0-6h2v2H9V5z"/></svg></div>
                            <div>
                                <p class="font-bold">Password reset unsuccessful</p>
                                <p class="text-sm">Password do not match.</p>
                            </div>
                        </div>
                    </div><br>
				`);
			}
		});

		$(document).keydown(function (event) {
			if (event.keyCode == 123) {
				return false;
			} else if (event.ctrlKey && event.shiftKey && event.keyCode == 73) {
				return false;
			}
		});
	</script>
</body>
</html>