<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Security-Policy" content="default-src *; style-src * 'unsafe-inline'; script-src * 'unsafe-inline';" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="{% static 'image/logo.ico' %}" />
    <title>DSWD CDO PORTAL | Forgot Password</title>
    <link href="{% static 'css/adminlte.min.css' %}" rel="stylesheet">
    <link href="{% static 'font-awesome/css/all.min.css' %}" rel="stylesheet">
    <link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style_new.css' %}" rel="stylesheet">
    <link href="{% static 'css/plugins/textSpinners/spinners.css' %}" rel="stylesheet">
    <style>
        .invalid-feedback{
            color:#fb4347;
        }

        .loading{
            overflow: hidden;
        }

        th {
            vertical-align: middle !important;
        }

        li.nav-item.active {
            border-bottom: 1px solid white;
        }
    </style>
    {% block style %}{% endblock %}
</head>
<body class="login-page" style="min-height: 466px;">
    <div class="login-box">
        <div class="card card-outline card-info">
            <div class="card-header text-center py-3">
                <a href="{% url 'home' %}" class="h1 font-weight-bolder text-dark">
                    <img loading="lazy" src="{% static 'image/dswd_logo_4.png' %}" style="width: 150px;"><br>
                    HR <span class="text-info">PEARS</span>
                </a>
            </div>
            <div class="card-body">
                <div id="alertDiv"></div>
                <h2 class="font-weight-bold">Enter 6 Digits Code</h2>
                <p class="">Enter the 6 digits code that you received on your phone numbers +*******{{ phone_number }}</p>
                <form id="codeForm">
                    {% csrf_token %}
                    <div class="input-group my-3">
                        <input class="form-control" id="code" type="text" name="code" autocomplete="off" required placeholder="######">
                    </div>
                    <p>Code expires in <span id="counter-time">00:00</span></p>
                    <div class="row mt-4">
                        <button id="submitBtn" type="submit" class="btn btn-info btn-block">Continue</button>
                        <p class="mt-3">Didn't receive a code? <a href="javascript:;" id="resend_code">Resend Code</p>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'js/plugins/jquery-ui/jquery-ui.min.js' %}"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>$.widget.bridge('uibutton', $.ui.button)</script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/adminlte.min.js' %}"></script>
    <script>
        $('#resend_code').on('click', function(){
            $.post({
                url: '{% url "resend_code" token %}',
                success: function(response) {
                    localStorage.clear("minute");
                  	localStorage.clear("sec");
                  	window.location.reload(true);
                }
            });
        })

		$('#codeForm').on('submit', function(e){
			e.preventDefault();
			var form = new FormData(this);
			$.ajax({
				url: '{% url 'forgot_password_code' token %}',
				data: form,
				type: 'POST',
				beforeSend: function() {
				    $("#submitBtn").html('<span class="loading open-circle" style="font-size: 25px;"></span>');
				},
				success: function(response){
					if(response.data) {
					    $("#submitBtn").html('<span class="loading open-circle" style="font-size: 25px;"></span>');
					    localStorage.clear("minute");
                  	    localStorage.clear("sec");
						window.location.href = '{% url "set_new_password" token %}'
					} else{
					    $("#submitBtn").html('Continue');
						$('#alertDiv').html(`
						    <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
                               <div class="flex">
                                <div class="py-1"><svg class="fill-current h-6 w-6 text-teal-500 mr-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM9 11V9h2v6H9v-4zm0-6h2v2H9V5z"/></svg></div>
                                <div>
                                  <p class="font-bold">Invalid 6 digit code</p>
                                  <p class="text-sm">` + response.msg +`
                                </div>
                              </div>
                            </div><br>
						`);
						$("#alertDiv").html(`
                            <div class="alert alert-danger" role="alert">
                                <span class="font-weight-bold" style="font-size: 16px;"><i class="fas fa-info-circle"></i> Invalid 6 digit code</span><hr class="my-2">
                                <p class="text-sm">
                                    ` + response.msg + `
                                </p>
                            </div>
                        `);
					}
				},
				cache       : false,
				contentType : false,
				processData : false,
			});
		});

        const leadingZero = (num, places) => String(num).padStart(places, '0')

        window.onload = function () {
			if(localStorage.getItem("minute")){
				var minute = localStorage.getItem("minute");
				var sec = localStorage.getItem("sec");
			} else {
				var minute = 4;
            	var sec = 59;
			}

            setInterval(function () {
                document.getElementById("counter-time").innerHTML = leadingZero(minute, 2) + ":" + leadingZero(sec, 2);
                sec--;
                localStorage.setItem("sec",sec);
                if (sec == 00) {
                    minute--;
                    localStorage.setItem("minute",minute);
                    sec = 60;
                    if (minute == 0) {
                  	    $.ajax({
                  		    url: '{% url "forgot_password_expire_code" 'token' %}',
                  		    type: 'POST',
                  		    success: function(response) {
							    if (response.data) {
							        localStorage.clear("minute");
                  	                localStorage.clear("sec");
								    window.location.href = '{% url 'forgot_password' %}';
							    }
                  		    }
                  	    });
                  	    minute = 5;
                    }
                }
            }, 1000);
        };

        $(document).keydown(function (event) {
			if (event.keyCode == 123) {
				return false;
			} else if (event.ctrlKey && event.shiftKey && event.keyCode == 73) {
				return false;
			}
		});
    </script>
    {% block script %}{% endblock %}
</body>
</html>
