{% load static %}
{% load frontend_tags %}
<form id="updateBalanceForm">
{% csrf_token %}
<div class="modal-body">
    <label>COC Earned</label>
    <table class="table table-bordered">
        <tr>
            <th class="text-center">Month/Year Earned</th>
            <th class="text-center">Days</th>
            <th class="text-center">Hours</th>
            <th class="text-center">Minutes</th>
            <th class="text-center">Date Expiry</th>
        </tr>
        <tr>
            <td class="text-center">
                <input type="text" class="form-control form-control-sm" style="text-align: center;" value="{{ coc.month_earned|to_int }}" name="month_earned" required>
            </td>
            <td class="text-center">
                <input type="number" class="form-control form-control-sm" style="text-align: center;" value="{{ coc.days|to_int }}" name="actual_days" required>
            </td>
            <td class="text-center">
                <input type="number" class="form-control form-control-sm" style="text-align: center;" value="{{ coc.hours|to_int }}" name="actual_hours" required>
            </td>
            <td class="text-center">
                <input type="number" class="form-control form-control-sm" style="text-align: center;" value="{{ coc.minutes|to_int }}" name="actual_minutes" required>
            </td>
            <td class="text-center">
                <input type="date" class="form-control form-control-sm" style="text-align: center;" value="{{ coc.date_expiry|date:'Y-m-d' }}" name="date_expiry" required>
            </td>
        </tr>
    </table>
    <br>
    <label>Actual COC Balance</label>
    <table class="table table-bordered">
        <tr>
            <th class="text-center">Month/Year Earned</th>
            <th class="text-center">Days</th>
            <th class="text-center">Hours</th>
            <th class="text-center">Minutes</th>
            <th class="text-center">Date Expiry</th>
        </tr>
        <tr>
            <td class="text-center">
                {{ coc_actual_balance.cocbal.month_earned }}
            </td>
            <td class="text-center">
                <input type="number" class="form-control form-control-sm" style="text-align: center;" value="{{ coc_actual_balance.days|to_int }}" name="current_days" required>
            </td>
            <td class="text-center">
                <input type="number" class="form-control form-control-sm" style="text-align: center;" value="{{ coc_actual_balance.hours|to_int }}" name="current_hours" required>
            </td>
            <td class="text-center">
                <input type="number" class="form-control form-control-sm" style="text-align: center;" value="{{ coc_actual_balance.minutes|to_int }}" name="current_minutes" required>
            </td>
            <td class="text-center">
                {{ coc_actual_balance.cocbal.date_expiry }}
            </td>
        </tr>
    </table>
    {% if coc_utilization %}
    <br>
    <label>Actual COC Utilization</label>
    <table class="table table-bordered">
        <tr>
            <th class="text-center">CTDO Tracking No</th>
            <th class="text-center">Days</th>
            <th class="text-center">Hours</th>
            <th class="text-center">Minutes</th>
            <th class="text-center">Date Utilized</th>
        </tr>
        {% for row in coc_utilization %}
        <tr>
            <td class="text-center">{{ row.ctdoreq.tracking_no }}</td>
            <td class="text-center">{{ row.days }}</td>
            <td class="text-center">{{ row.hours }}</td>
            <td class="text-center">{{ row.minutes }}</td>
            <td class="text-center">{{ row.ctdoreq.date_filed }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
</div>
<div class="modal-footer">
    <button type="submit" class="btn btn-info">Update</button>
</div>
</form>
{% block script %}
<script src="{% static 'js/app.js' %}"></script>
<script>
    $('#updateBalanceForm').on('submit', function(e){
        var form = this;

        var url = '{% url "view_coc_utilization" coc.id %}';
        var title = "Are you sure";
        var text = "You want to update this coc balance";

        var loadContent = '#coc-utilization-content';
        var loadUrl = '/backend/ctdo/coc/view/utilization/{{ coc.id }}';
        submitFormWithConfirmation(form, url, title, text, {loadContent: loadContent, loadUrl:loadUrl});

        e.preventDefault();
    });
</script>
{% endblock %}