{% extends 'layout.html' %}
{% load static %}
{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/adjustments.css' %}">
<link href="{% static 'css/plugins/bootstrap-tagsinput/bootstrap-tagsinput.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-8">
        <h1 class="bold">Text Blast</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'backend-dashboard' %}">Home</a>
            </li>
			<li class="breadcrumb-item">
                Others
            </li>
            <li class="breadcrumb-item active">
                <strong>Text Blast</strong>
            </li>
        </ol>
    </div>
	<div class="col-lg-4">
		<div class="title-action">
			<button class="btn btn-info" data-target="#write-message" data-toggle="modal"><i class="fas fa-envelope"></i> Write Message</button>
		</div>
	</div>
</div>
<div class="wrapper wrapper-content">
	<div class="row">
		<div class="col-sm-12">
            <div class="ibox">
                <div class="ibox-content">
                     <table id="sms-table" class="table table-bordered table-responsive" width="100%">
                        <thead>
                            <th>Message</th>
                            <th class="text-center">Contact Number</th>
                            <th class="text-center">Date Sent</th>
                        </thead>
                    </table>
                </div>
            </div>
		</div>
	</div>
</div>
<div class="modal" id="write-message" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content animated bounceInDown">
            <div class="modal-header bg-info">
	            <button type="button" class="close text-white" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h3 class="modal-title">WRITE MESSAGE</h3>

            </div>
            <div class="modal-body">
                <form id="submitForm">
					{% csrf_token %}
					<div class="form-group">
						<label>To: </label>
						<input type="text" placeholder="Cellphone Number" class="tagsinput" name="cellphone_no[]">
					</div>
					<div class="form-group">
						<label>Message: </label>
						<textarea class="form-control" rows="7" style="resize: vertical;" placeholder="Message" name="message"></textarea>
					</div>
					<button type="submit" class="btn btn-info"><span class="loading open-circle" style="display:none;"></span> Send Message</button>
				</form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<!-- Tags Input -->
<script src="{% static 'js/plugins/bootstrap-tagsinput/bootstrap-tagsinput.js' %}"></script>
<script type="text/javascript">
	$('.tagsinput').tagsinput({
        tagClass: 'label label-primary'
    });
    SMSTable();

    function SMSTable(){
        $('#sms-table').DataTable({
            'serverSide': true,
            'processing': true,
            'deferRender': true,
            'lengthMenu': [ 25, 50, 100 ],
            'order': [[ 2, 'desc' ]],
            'ajax': {
                'url': '/api/sms/?format=datatables',
                'type': 'GET',
                'beforeSend': function (request) {
                    request.setRequestHeader("Authorization", "Token 82b88a7bdac1ea3868361448927035e93b0dc19d")
                }
            },
            'columns': [
                {'data': 'message' },
                {'data': 'contact_number', 'className': 'text-center' },
                {'data': 'date_sent', 'className': 'text-center' },
            ],
        });
    }

    $('#submitForm').on('submit', function(e){
        e.preventDefault();
        var form = new FormData(this);
        $.ajax({
            data        : form,
            url         : "{% url 'text_blast' %}",
            type        : 'POST',
            beforeSend: function(){
				$('.loading').css('display', '');
                $('.btn').prop("disabled", true);
            },
            success: function(data){
				if (data.data == 'success'){
					 Swal.fire({
						title: "Good job!",
						html: data.msg,
						icon: "success",
						confirmButtonColor: "#3498DB",
						allowOutsideClick: false,
					}).then((result) => {
						if (result.isConfirmed){
						    $('#submitForm').trigger('reset');
						    $('#write-message').modal('hide');
							$('#sms-table').DataTable().ajax.reload();
						}
					});
				}
			},
			complete: function(){
                $('.loading').css('display', 'none');
                $('.btn').prop("disabled", false);
            },
            cache       : false,
            contentType : false,
            processData : false,
        });
    });
</script>
{% endblock %}