{% extends 'layout.html' %}
{% load tags %}
{% load frontend_tags %}
{% load static %}
{% block style %}
<link href="{% static 'css/plugins/textSpinners/spinners.css' %}" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'css/adjustments.css' %}">
<style type="text/css">
	.dropdown-menu {
	    width: 100%;
	}
</style>
{% endblock %}
{% block content %}
<div class="container-fluid">
	<div class="row px-3 pt-3">
		<div class="col-lg-8">
			<h1 class="font-weight-bold">Position Status</h1>
			<ol class="breadcrumb bg-transparent p-0">
				<li class="breadcrumb-item">
					<a href="{% url 'backend-dashboard' %}">Home</a>
				</li>
				<li class="breadcrumb-item">
					Admin
				</li>
				<li class="breadcrumb-item">
					Employee Data
				</li>
				<li class="breadcrumb-item active">
					<strong>Position Status</strong>
				</li>
			</ol>
		</div>
		<div class="col-lg-4 pt-3">
			<div class="float-md-right">
				<button class="btn btn-info" data-toggle="modal" data-target="#add-position-modal"><i class="fas fa-plus"></i> Add Vacancy</button>
			</div>
		</div>
	</div>
</div>
<div class="content-wrapper p-4 ml-0">
	<div class="row">
        <div class="col-lg-12">
            <div class="card card-info card-tabs">
				<div class="card-header p-0 pt-1">
					<ul class="nav nav-tabs" id="tabUL">
						<li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#drafts-view">Drafts <span id="total-draft" class="badge rounded-pill bg-primary"></span></a></li>
						<li class="nav-item"><a class="nav-link" data-toggle="tab" href="#vacancy-view">Vacancies <span id="total-vacancy" class="badge rounded-pill bg-danger"></span></a></li>
						<li class="nav-item"><a class="nav-link" data-toggle="tab" href="#filled-view">Filled Positions <span id="total-filled" class="badge rounded-pill bg-secondary"></span></a></li>
					</ul>
				</div>
                <div class="card-body">
                    <div class="tabs-container">
						<div class="tab-content">
							<div id="drafts-view" class="tab-pane active">
								<div class="panel-body">
									<div class="table-responsive" style="margin-top: 15px;">
										<table class="table table-bordered table-hover" style="zoom: 95% !important;" id="table-drafts" width="100%">
											<thead>
												<tr>
													<th class="text-left">ACTION</th>
													<th class="text-center">NUMBER</th>
													<th class="text-center">ITEM NUMBER</th>
													<th class="text-center">POSITION</th>
													<th class="text-center">EMPLOYMENT STATUS</th>
													<th class="text-center">AREA OF ASSIGNMENT</th>
													<th class="text-center">QUANTITY</th>
													<th class="text-center">SALARY RATE</th>
													<th class="text-center">DEADLINE</th>
													<th class="d-none">SALARY GRADE</th>
													<th class="d-none">PAST DEADLINE</th>
												</tr>
											</thead>
										</table>
									</div>
								</div>
							</div>
							<div id="vacancy-view" class="tab-pane">
								<div class="panel-body">
									<div class="table-responsive" style="margin-top: 15px;">
										<table class="table table-bordered table-hover" style="zoom: 95% !important;" id="table-vacancy" width="100%">
											<thead>
												<tr>
													<th class="text-left" rowspan="2">ACTION</th>
													<th class="text-center" rowspan="2">NUMBER</th>
													<th class="text-center" rowspan="2">ITEM NUMBER</th>
													<th class="text-center" rowspan="2">POSITION</th>
													<th class="text-center" rowspan="2">EMPLOYMENT STATUS</th>
													<th class="text-center" rowspan="2">AREA OF ASSIGNMENT</th>
													<th class="text-center" colspan="2">QUANTITY</th>
													<th class="text-center" rowspan="2">SALARY RATE</th>
													<th class="text-center" rowspan="2">DEADLINE</th>
													<th class="text-center" rowspan="2">UPLOADED BY</th>
													<th class="d-none" rowspan="2">SALARY GRADE</th>
													<th class="d-none" rowspan="2">PAST DEADLINE</th>
												</tr>
												<tr>
													<th class="text-center">NEEDED</th>
													<th class="text-center">HIRED</th>
												</tr>
											</thead>
										</table>
									</div>
								</div>
							</div>
							<div id="filled-view" class="tab-pane">
								<div class="panel-body">
									<div class="table-responsive" style="margin-top: 15px;">
										<table class="table table-bordered table-hover" style="zoom: 95% !important;" id="table-filled" width="100%">
											<thead>
												<tr>
													<th class="text-left display-none">ACTION</th>
													<th class="text-center">NUMBER</th>
													<th class="text-center">ITEM NUMBER</th>
													<th class="text-center">POSITION</th>
													<th class="text-center">EMPLOYMENT STATUS</th>
													<th class="text-center">AREA OF ASSIGNMENT</th>
													<th class="text-center">QUANTITY</th>
													<th class="text-center">SALARY RATE</th>
													<th class="text-center">DEADLINE</th>
													<th class="text-center">HIRED EMPLOYEES</th>
													<th class="d-none">SALARY GRADE</th>
													<th class="d-none">PAST DEADLINE</th>
												</tr>
											</thead>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal" id="add-position-modal" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog fs-sm-dialog">
		<div class="modal-content animated bounceInDown" style="padding-bottom: 0px !important;">
	        <div class="modal-header bg-info">
	            <h3 class="modal-title">
					ADD NEW VACANCY
				</h3>
				<button type="button" class="close text-white" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	        </div>
	        <form id="addPositionForm">
			<input type="hidden" name="draftid" id="draftid" value="{{ request.GET.id }}">
	        <div class="modal-body">
	        	{% csrf_token %}
				<div id="alertDiv"></div>
				<div class="alert alert-warning"><i class='fas fa-info-circle'></i> After adding a new vacancy, it will go to Drafts. Submit the newly created vacancy to make it public.</div><hr>
				<div class="row">
					<div class="col-sm-6">
						<div class="form-group">
							<label>Number<span class="asteriskField">*</span></label>
							<input type="text" name="number" class="form-control b-r-sm" required>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<label>Item Number<span class="asteriskField">*</span></label>
							<input type="text" name="item_number" class="form-control b-r-sm" required>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<label>Position<span class="asteriskField">*</span></label>
							<select class="form-control select b-r-sm" id="position" name="position" required>
								<option></option>
								{% for row in position_choices %}
								<option value="{{ row.id }}">{{ row.name }}</option>
								{% endfor %}
							</select>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<label>Employment Status<span class="asteriskField">*</span></label>
							<select class="form-control select b-r-sm" id="empstatus" name="empstatus" required>
								<option></option>
								{% for row in empstatus %}
								<option value="{{ row.id }}">{{ row.name }}</option>
								{% endfor %}
							</select>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<label>Area of Assignment<span class="asteriskField">*</span></label>
							<select class="form-control select b-r-sm" id="aoa" name="aoa" required>
								<option></option>
								{% for row in aoa %}
								<option value="{{ row.id }}">{{ row.name }}</option>
								{% endfor %}
							</select>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<label>Quantity<span class="asteriskField">*</span></label>
							<input type="number" name="quantity" class="form-control b-r-sm" required>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<label>Salary Rate<span class="asteriskField">*</span></label>
							<input type="number" name="rate" class="form-control b-r-sm" required>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<label>Salary Grade<span class="asteriskField">*</span></label>
							<select class="form-control select b-r-sm" id="grade" name="grade" required>
								<option></option>
								{% for row in salary_grade %}
								<option value="{{ row.id }}">{{ row.name }}</option>
								{% endfor %}
							</select>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<label>Deadline</label>
							<input type="date" name="deadline" class="form-control b-r-sm">
						</div>
					</div>
					<div class="col-sm-12">
						<div class="form-group">
							<label>Job Description</label>
							<textarea name="job_description" class="form-control" rows="8"></textarea>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="submit" class="btn btn-info" id="btnSaveForm">Save</button>
			</div>
	        </form>
	    </div>
	</div>
</div>

<div class="modal" id="edit-position-modal" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog">
		<div class="modal-content animated bounceInDown">
	        <div class="modal-header bg-info">
	            <h3 class="modal-title">
					EDIT POSITION
				</h3>
				<button type="button" class="close text-white" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	        </div>
			<div id="edit-content-position"></div>
		</div>
	</div>
</div>
<div class="modal" id="attachment-modal" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog">
		<div class="modal-content animated bounceInDown">
	        <div class="modal-header bg-info">
	            <h3 class="modal-title">
					ATTACHMENT
				</h3>
				<button type="button" class="close text-white" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	        </div>
			<div id="attachment-content"></div>
		</div>
	</div>
</div>

{% endblock %}
{% block script %}
<script type="text/javascript">
	$(document).ready(function() {
		if (location.hash) {
			$("a[href='" + location.hash + "']").tab("show");
		}
		$(document.body).on("click", "a[data-toggle='tab']", function(event) {
			location.hash = this.getAttribute("href");
		});

		globalInitialization()
		function globalInitialization(){
			$.get({
				url: '{% url "get_position_totals" %}',
				success: function(response){
					$('#total-draft').text(response.draft)
					$('#total-vacancy').text(response.vacancy)
					$('#total-filled').text(response.filled)
				}
			});
		}

		$('#table-drafts').DataTable({
			'serverSide': true,
			'processing': true,
			'deferRender': true,
			'order': [[ 3, 'asc' ]],
			'lengthMenu': [ 25, 50, 100 ],
			'ajax': {
				'url': '/api/employees/positions/view?format=datatables&status=drafts',
				'type': 'GET',
				'beforeSend': function (request) {
					request.setRequestHeader("Authorization", "Token 82b88a7bdac1ea3868361448927035e93b0dc19d");
				},
			},
			'fnCreatedRow': function (row, data, index) {
				$(row).attr('id', data['id']);
			},
			"columnDefs": [
				{ "orderable": false, "targets": [0,] }
			],
			'columns': [
				{'data': 'id', 'searchable': false,
					'render': function(data, type, row, meta) {
						var template = "";
						template += "<a href='javascript:;' data-role='submit' data-id='"+ data +"'>Submit</a> | ";
						template += "<a href='javascript:;' data-role='edit' data-id='"+ data +"'>Edit</a> | ";
						template += "<a href='javascript:;' data-role='delete' data-id='"+ data +"'>Delete</a> | ";
						template += "<a href='javascript:;' data-role='attachment' data-id='"+ data +"'>Attachment</a>";
						return template;
					}
				},
				{'data': 'number', 'className': 'text-center' },
				{'data': 'item_number', 'className': 'text-center' },
				{'data': 'position', 'className': 'text-center', 'name': 'position.name' },
				{'data': 'empstatus', 'className': 'text-center', 'name': 'empstatus.name' },
				{'data': 'aoa', 'className': 'text-center', 'name': 'aoa.name' },
				{'data': 'quantity', 'className': 'text-center' },
				{'data': 'salary_rate', 'className': 'text-center',
					'render': function(data, type, row, meta) {
						return data + " SG-" + row['salary_grade'];
					}
				},
				{'data': 'deadline', 'className': 'text-center',
					'render': function(data, type, row, meta) {
						if (row['is_past_deadline'] === 'True') {
							return '<span class="text-danger">'+ data +'</span>'
						} else {
							return data;
						}
					}
				},
				{'data': 'salary_grade', 'className': 'd-none', 'name': 'salary_grade.name' },
				{'data': 'is_past_deadline', 'className': 'd-none', 'searchable': false, },
			],
		});

		$('#table-vacancy').DataTable({
			'serverSide': true,
			'processing': true,
			'deferRender': true,
			'order': [[ 3, 'asc' ]],
			'lengthMenu': [ 25, 50, 100 ],
			'ajax': {
				'url': '/api/employees/positions/view?format=datatables&status=vacancy',
				'type': 'GET',
				'beforeSend': function (request) {
					request.setRequestHeader("Authorization", "Token 82b88a7bdac1ea3868361448927035e93b0dc19d");
				},
			},
			'fnCreatedRow': function (row, data, index) {
				$(row).attr('id', data['id']);
			},
			"columnDefs": [
				{ "orderable": false, "targets": [0,] }
			],
			'columns': [
				{'data': 'id', 'searchable': false,
					'render': function(data, type, row, meta) {
						var template = "";
						template += "<a href='javascript:;' data-role='edit' data-id='"+ data +"'>Edit</a> | ";
						template += "<a href='javascript:;' data-role='delete' data-id='"+ data +"'>Delete</a> | ";
						template += "<a href='javascript:;' data-role='attachment' data-id='"+ data +"'>Attachment</a>";
						return template;
					}
				},
				{'data': 'number', 'className': 'text-center' },
				{'data': 'item_number', 'className': 'text-center' },
				{'data': 'position', 'className': 'text-center', 'name': 'position.name' },
				{'data': 'empstatus', 'className': 'text-center', 'name': 'empstatus.name' },
				{'data': 'aoa', 'className': 'text-center', 'name': 'aoa.name' },
				{'data': 'quantity', 'className': 'text-center' },
				{'data': 'total_hired', 'className': 'text-center', 'searchable': false, 'orderable': false },
				{'data': 'salary_rate', 'className': 'text-center',
					'render': function(data, type, row, meta) {
						return data + " SG-" + row['salary_grade'];
					}
				},
				{'data': 'deadline', 'className': 'text-center',
					'render': function(data, type, row, meta) {
						if (row['is_past_deadline'] === 'True') {
							return '<span class="text-danger">'+ data +'</span>'
						} else {
							return data;
						}
					}
				},
				{'data': 'upload_by', 'className': 'text-center', 'name': 'upload_by.first_name, upload_by.middle_name, upload_by.last_name' },
				{'data': 'salary_grade', 'className': 'd-none', 'name': 'salary_grade.name' },
				{'data': 'is_past_deadline', 'className': 'd-none', 'searchable': false, },
			],
		});

		$('#table-filled').DataTable({
			'serverSide': true,
			'processing': true,
			'deferRender': true,
			'order': [[ 3, 'asc' ]],
			'lengthMenu': [ 25, 50, 100 ],
			'ajax': {
				'url': '/api/employees/positions/view?format=datatables&status=filled',
				'type': 'GET',
				'beforeSend': function (request) {
					request.setRequestHeader("Authorization", "Token 82b88a7bdac1ea3868361448927035e93b0dc19d");
				},
			},
			'fnCreatedRow': function (row, data, index) {
				$(row).attr('id', data['id']);
			},
			"columnDefs": [
				{ "orderable": false, "targets": [0, 7] }
			],
			'columns': [
				{'data': 'id', 'searchable': false, 'className': 'display-none',
					'render': function(data, type, row, meta) {
						/*
						var template = "";
						template += "<a href='javascript:;' data-role='edit' data-id='"+ data +"'>Edit</a> | ";
						template += "<a href='javascript:;' data-role='delete' data-id='"+ data +"'>Delete</a>";
						return template;
						*/
						return " ";
					}
				},
				{'data': 'number', 'className': 'text-center' },
				{'data': 'item_number', 'className': 'text-center' },
				{'data': 'position', 'className': 'text-center', 'name': 'position.name' },
				{'data': 'empstatus', 'className': 'text-center', 'name': 'empstatus.name' },
				{'data': 'aoa', 'className': 'text-center', 'name': 'aoa.name' },
				{'data': 'quantity', 'className': 'text-center' },
				{'data': 'salary_rate', 'className': 'text-center',
					'render': function(data, type, row, meta) {
						return data + " SG-" + row['salary_grade'];
					}
				},
				{'data': 'deadline', 'className': 'text-center',
					'render': function(data, type, row, meta) {
						if (row['is_past_deadline'] === 'True') {
							return '<span class="text-danger">'+ data +'</span>'
						} else {
							return data;
						}
					}
				},
				{'data': 'hired_employees', 'className': 'text-center', 'searchable': false, 'orderable': false  },
				{'data': 'salary_grade', 'className': 'd-none', 'name': 'salary_grade.name' },
				{'data': 'is_past_deadline', 'className': 'd-none', 'searchable': false, },
			],
		});

		// Add Position Vacancy
		$('#addPositionForm').on('submit', function(e){
			$.ajax({
				data        : new FormData(this),
				url         : '{% url "position_status" %}',
				type        : 'POST',
				beforeSend: function() {
					$('.btn').prop("disabled", true);
					$('#btnSaveForm').html('<span class="loading open-circle"></span> Saving');
				},
				success: function(response) {
					if (response.data == "success"){
						$('#add-position-modal').modal('toggle');
						Swal.fire({
							title: "Good job!",
							text: "Vacancy was successfully added.",
							icon: "success",
							confirmButtonColor: "#3498DB",
							allowOutsideClick: false,
						}).then((result) => {
							if(result.isConfirmed){
								$('#addPositionForm').trigger('reset');
								$('.select').val("").change();
								globalInitialization();
								$('#table-drafts').DataTable().ajax.reload();
								$('#table-vacancy').DataTable().ajax.reload();
								$('#add-position-modal').modal('hide');
							}
						});
					}
				},
				complete: function() {
					$('.btn').prop("disabled", false);
					$('#btnSaveForm').html('Save');
				},
				cache       : false,
				contentType : false,
				processData : false
			});
			e.preventDefault();
		});

		// Submit Position
		$(document).on('click', 'a[data-role=submit]', function(){
			var id = $(this).data('id');
			Swal.fire({
			  	title: "Are you sure",
			  	text: "You want to submit this vacancy? This will become visible to the public, which they can apply to.",
			  	icon: "info",
			  	showCancelButton: true,
			  	confirmButtonColor: "#3498DB",
			 	confirmButtonText: "Yes",
			  	allowOutsideClick: false,
			  	showLoaderOnConfirm: true,
				preConfirm: function (){
					return $.ajax({
						data        :{ id: id },
						url         : '{% url "submit_position" %}',
						type        : 'POST',
					});
				},
			}).then(function (response){
				if (response.value.data){
					Swal.fire({
						title: "Good job!",
						text: "Vacancy successfully submitted.",
						icon: "success",
						confirmButtonColor: "#3498DB",
						allowOutsideClick: false,
					}).then((result) => {
						if (result.isConfirmed){
							globalInitialization();
							$('#table-drafts').DataTable().ajax.reload();
							$('#table-vacancy').DataTable().ajax.reload();
						}
					});
				}
			});
		});

		// Edit Position
		$(document).on('click', 'a[data-role=edit]', function(){
			$('#edit-position-modal').modal('show').find('#edit-content-position').load('/backend/position/edit/' + $(this).data('id'));
		});

		// Delete Position
		$(document).on('click', 'a[data-role=delete]', function(){
			var id = $(this).data('id');
			Swal.fire({
			  	title: "Are you sure",
			  	text: "You want to delete this record?",
			  	icon: "warning",
			  	showCancelButton: true,
			  	confirmButtonColor: "#DD6B55",
			 	confirmButtonText: "Yes",
			  	allowOutsideClick: false,
			  	showLoaderOnConfirm: true,
				preConfirm: function (){
					return $.ajax({
						data        :{ id: id },
						url         : '{% url "delete_position" %}',
						type        : 'POST',
					});
				},
			}).then(function (response){
				if (response.value.data){
					Swal.fire({
						title: "Good job!",
						text: "Vacancy successfully deleted.",
						icon: "success",
						confirmButtonColor: "#3498DB",
						allowOutsideClick: false,
					}).then((result) => {
						if (result.isConfirmed){
							globalInitialization();
							$('#table-drafts').DataTable().ajax.reload();
							$('#table-vacancy').DataTable().ajax.reload();
						}
					});
				}
			});
		});

		// Attachment
		$(document).on('click', 'a[data-role=attachment]', function(){
			$('#attachment-modal').modal('show').find('#attachment-content').load('/backend/position/attachment/' + $(this).data('id'));
		});

	});

	$(window).on("popstate", function() {
		var anchor = location.hash || $("a[data-toggle='tab']").first().attr("href");
		$("a[href='" + anchor + "']").tab("show");
	});
</script>
{% endblock %}