<div class="row">
	<div class="col-lg-12 justify-content-center">
		<h3 class="text-center"><b>{% if nominee%}Edit{% else %}Add{% endif %} Nominee for {{ award.name }}</b></h3>
		<br>
		<form id="submitAddForm">
			{% csrf_token %}
			<div class="col-sm-12">
				<div class="form-group">
					<label>Employee ID Number</label>
					<input type="text" class="form-control typeahead_2 filter_employee b-r-sm" autocomplete="off" name="nominee" required 
						   placeholder="e.g. [16-12345] Juan dela Cruz" 
						   value="{% if nominee %}[{{ nominee.nominee.id_number }}] {{ nominee.nominee.pi.user.first_name }} {{ nominee.nominee.pi.user.last_name }}{% endif %}" 
						   {% if nominee %}disabled{% endif %}>
				</div>
			
				{% if award.category.needs_title %}
					<div class="form-group">
						<label>Name of {{ award.category.name }}</label>
						<input type="text" class="form-control" name="title" value="{{ nominee.title }}" required>
					</div>
				{% endif %}
			
				<label>Write an overall statement on the consistent demonstration of exemplary ethical behavior and render of extraordinary work performance or service.</label>
				<div class="form-group">
					<textarea required name="why" id="why" class="form-control" 
							  placeholder="Please write statement with a minimum of 50 words." 
							  style="resize:vertical; max-height:300px; min-height:150px;">{% if nominee and nominee.why != None %}{{ nominee.why }}{% endif %}</textarea>
				</div>
				
				<div class="form-group">
					<label>List of CONTRIBUTIONS/ INITIATIVES / BEST PRACTICES (alphanumeric) 
					</label>
					<ul id="list_accomplishment" class="list-group">
						{% for accomplishment in list_accomplishment_list %}
						<li class="list-group-item d-flex align-items-center gap-2">
							<input type="text" name="list_accomplishment[]" value="{{ accomplishment.0 }}" class="form-control" placeholder="Example author of HRPears" required>
							<input type="text" name="remarks_accomplishment[]" value="{{ accomplishment.1 }}" placeholder="Impact" class="form-control ml-2" >
							{% if forloop.first %}
								<button type="button" class="btn btn-success btn-sm add-accomplishment ml-2"><i class="fas fa-plus"></i></button>
							{% else %}
								<button type="button" class="btn btn-danger btn-sm remove-accomplishment ml-2"><i class="fas fa-trash"></i></button>
							{% endif %}
						</li>
						{% endfor %}
				
						{% if not list_accomplishment_list %}
						<li class="list-group-item d-flex align-items-center gap-2">
							<input type="text" name="list_accomplishment[]" class="form-control" placeholder="Example author of HRPears" required>
							<input type="text" name="remarks_accomplishment[]" class="form-control ml-2" placeholder="Impact">
							<button type="button" class="btn btn-success btn-sm add-accomplishment ml-2"><i class="fas fa-plus"></i></button>
						</li>
						{% endif %}
					</ul>
				</div>

				<div class="form-group">
					<label>Awards or commendations received
					</label>
					<ul id="awards_received" class="list-group">
						{% for awards in awards_received_list %}
						<li class="list-group-item d-flex align-items-center gap-2">
							<input type="text" name="awards_received[]" value="{{ awards.0 }}" class="form-control award-input" placeholder="Award/Recommendation" required>
							<input type="text" name="remarks_awards_received[]" value="{{ awards.1 }}" placeholder="Description" class="form-control ml-2" >
							{% if forloop.first %}
								<button type="button" class="btn btn-success btn-sm add-award ml-2"><i class="fas fa-plus"></i></button>
							{% else %}
								<button type="button" class="btn btn-danger btn-sm remove-award ml-2"><i class="fas fa-trash"></i></button>
							{% endif %}
						</li>
						{% endfor %}
				
						{% if not awards_received_list %}
						<li class="list-group-item d-flex align-items-center gap-2">
							<input type="text" name="awards_received[]" class="form-control award-input" placeholder="Award/Recommendation" required>
							<input type="text" name="remarks_awards_received[]" placeholder="Description" class="form-control ml-2" >
							<button type="button" class="btn btn-success btn-sm add-award ml-2"><i class="fas fa-plus"></i></button>
						</li>
						{% endif %}
					</ul>
				</div>
					
				
				<div class="form-group">
					<label>
						Create a Google Drive link and upload soft copies of awards / commendations
					</label>
					<small class="form-text text-muted">
						Please make sure the link is viewable by anyone with the link.
					</small>
					<input type="url" name="supporting_link" class="form-control" placeholder="https://example.com/link" value="{% if nominee %}{{ nominee.supporting_link }}{% endif %}" required>
				</div>
		

				
			
				<br>
				<button type="button" class="btn btn-warning" id="btn-back-nominee">Back</button>
				<button type="submit" class="btn btn-info" data-id="{{ row.name_id }}">Submit</button>
			</div>
			
		</form>
	</div>
</div>
<script type="text/javascript">
	var limit = 50;

$(document).ready(function () {
    var jsonEmployeesExceptMe = $.ajax({
        url: '{% url "filter_employee_except_me" %}',
        async: false,
        dataType: 'json'
    }).responseJSON;

    $("#why").textareaCounter({ limit: limit });

    $('#submitAddForm').on('submit', function (e) {
        e.preventDefault();

        var text = $('#why').val();
        var wordcount = $.trim(text).split(/\s+/).length;

        if (wordcount < limit) {
            document.getElementById('why').setCustomValidity("You only have written " + wordcount + " of minimum " + limit + " words.");
        } else {
            $.ajax({
                data: new FormData(this),
                url: '{% if nominee %}{% url "edit-nominee" nominee.id %}{% else %}{% url "add-nominee" awards_id %}{% endif %}',
                type: 'POST',
                cache: false,
                contentType: false,
                processData: false
            }).done(function (data) {
                $('.error').remove();
                if (data.error) {
                    var error = '<span class="text-danger error">' + data.error + '</span>';
                    $('input[name=nominee]').parent().after(error);
                } else {
                    $('#edit-modal').modal('show').find('.modal-body').empty();
                    $('#edit-modal').modal('show').find('.modal-body').load("/view-nominees/{{ awards_id }}");
                }
            });
        }
    });

    {% if nominee %}
    {% else %}
        $(".filter_employee").typeahead({
            source: jsonEmployeesExceptMe
        });
    {% endif %}

    $('#btn-back-nominee').on('click', function () {
        $('#modal-footer').show();
        $('#edit-modal').modal('show').find('.modal-body').empty();
        $('#edit-modal').modal('show').find('.modal-body').load("/view-nominees/{{ awards_id }}");
    });

	function addAccomplishmentRow() {
    let newItem = $(`
        <li class="list-group-item d-flex align-items-center gap-2">
            <input type="text" name="list_accomplishment[]" class="form-control" placeholder="Example author of HRPears" required>
            <input type="text" name="remarks_accomplishment[]" class="form-control ml-2" placeholder="Impact" >
            <button type="button" class="btn btn-danger btn-sm remove-accomplishment ml-2"><i class="fas fa-trash"></i></button>
        </li>
    `);
    $("#list_accomplishment").append(newItem);
}

$("#list_accomplishment").on("click", ".add-accomplishment", function () {
    addAccomplishmentRow();
});

$("#list_accomplishment").on("click", ".remove-accomplishment", function () {
    $(this).closest("li").remove();
});


function addAwardRow() {
    let newItem = $(`
        <li class="list-group-item d-flex align-items-center gap-2">
            <input type="text" name="awards_received[]" class="form-control" placeholder="Award" required>
            <input type="text" name="remarks_awards_received[]"  placeholder="Description" class="form-control ml-2">
            <button type="button" class="btn btn-danger btn-sm remove-award ml-2"><i class="fas fa-trash"></i></button>
        </li>
    `);
    $("#awards_received").append(newItem);
}

$("#awards_received").on("click", ".add-award", function () {
    addAwardRow();
});

$("#awards_received").on("click", ".remove-award", function () {
    $(this).closest("li").remove();
});

});


</script>