<!DOCTYPE html>
{% load static %}
{% load qr_code %}
{% load frontend_tags %}
{% load tags %}
<html>
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>DSWD My PORTAL | Certificates for Participants</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'image/hrpearlogo_192.png' %}" />
	<link href="{% static 'font-awesome/css/all.css' %}" rel="stylesheet">
    <link href="{% static 'css/adminlte.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/plugins/sweetalert/sweetalert2.min.css' %}" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'css/adjustments.css' %}">
	<link href="{% static 'css/print.css' %}" rel="stylesheet">
    <style>
        @media print {
			page {
				margin: 0px !important;;
				padding: 35px !important;
				border: 0.5px solid transparent;
				height: 209mm !important;
			}
		  	::-webkit-input-placeholder { /* WebKit browsers */
		      	color: transparent;
		  	}
		  	:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
		      	color: transparent;
		  	}
		  	::-moz-placeholder { /* Mozilla Firefox 19+ */
		      	color: transparent;
		  	}
		  	:-ms-input-placeholder { /* Internet Explorer 10+ */
		      	color: transparent;
		  	}
		  	.blue{
		  		color: #1d58a6 !important;
		  	}
		  	.gray{
		  		color:#E8E8E8 !important;
		  	}
		}
		@page {
			size: auto;
		}
    </style>
</head>
<nav class="main-header navbar navbar-expand navbar-light navbar-white m-0">
	<div class="container">
		<a class="navbar-brand" href="javascript:;">
			<strong>
                Certificates for Participants&emsp;
                <small><em>Note: Paper size is A4, margin is None</em></small>
            </strong>
		</a>
		<ul class="navbar-nav ml-auto">
			<li>
				<div class="btn-group">
					<button type="button" data-toggle="dropdown" class="btn btn-success dropdown-toggle"><span class="loading open-circle" style="display:none;"></span> <i class="fas fa-file"></i> Certificate Type <span class="caret"></span></button>
					<div class="dropdown-menu">
{#						{% for row in certificate_type %}#}
{#						<a class="dropdown-item" href="javascript:;" data-role="certificate_type" data-title="{{ row.keyword|upper }}" data-name="{{ row.adjective }}">{{ row.keyword }}</a>#}
{#						{% endfor %}#}
                        <a class="dropdown-item" href="javascript:;" data-role="certificate_type" data-title="COMPLETION" data-name="completed">Completion</a>
                        <a class="dropdown-item" href="javascript:;" data-role="certificate_type" data-title="PARTICIPATION" data-name="participated">Participation</a>
					</div>
				</div>
				&emsp;
			</li>
			<li><button type="button" class="btn btn-info print-button" id="floatprint"><i class="fas fa-print"></i> Print</button></li>
		</ul>
	</div>
</nav>
<body>
    {% for row in participants %}
        {% if forloop.first %}
        <page size="A4" layout="landscape" class="page" style="padding: 35px; page-break-before: always;">
            <div class="containerX" style="position: relative; border: 1px solid black; height: 99%;">
                <img loading="lazy"  src="{% static 'image/lds_cert_bg.jpg' %}" width="93%" style="">
                <div class="position-absolute" style="top: 170px; left: 260px;">
                    <p style="font-size: 46px; font-weight: bold;">
                        CERTIFICATE OF <span class="training_keyword">COMPLETION</span>
                    </p>
                    <div class="font-adjustable mt-5" style="height: 100px !important; font-size: 36px;">
                        <div style="border: 2px solid black; width: 600px;"></div>
                    </div>
                    <p style="font-size: 15px;">
                        Has successfully <span class="training_adjective">completed</span> the
                    </p>
                    <div class="font-adjustable-tttitle" style="font-size: 22px; width: 95%;">
                        <strong>{{ training.training.tt_name|upper }}</strong>
                    </div>
                    <p class="mt-3" style="font-size: 15px; color: black;">
                        {{ training.get_inclusive_dates_v2 }}<br>
                        {% if training.is_online_platform %}via{% endif %} {{ training.venue }}
                    </p>
                    
                        {% if rd %}
                        {% getemployeebyempid rd.emp_id as rd_obj %}    
                    
                    <div class="row" style="justify-content: space-between;margin-left: 2px;padding-top: 5vh;">
                        <p style="font-size: 15px;"><strong>{{ rd_obj.pi.user.get_fullname|upper }}</strong><br>{{ rd.name }}
                        {% endif %}
                        </p>
                        <p style="font-size: 15px;padding-top: 3vh;"><i> Training Hours: {{ training.training_hours  }} Hours</i> </p>
                    </div>
                </div>
            </div>
        </page>
        {% endif %}
	{% endfor %}
	{% for row in participants %}
	<page size="A4" layout="landscape" class="page" style="padding: 35px; page-break-before: always;">
		<div class="containerX" style="position: relative; border: 1px solid black; height: 99%;">
            <img loading="lazy" src="{% static 'image/lds_cert_bg.jpg' %}" width="93%" style="">
            <div class="position-absolute" style="top: 170px; left: 260px;">
                <p style="font-size: 46px; font-weight: bold;">
                    CERTIFICATE OF <span class="training_keyword">COMPLETION</span>
                </p>
                <div class="font-adjustable blue mt-4" style="height: 100px !important; font-size: 36px; color: #2e3192;">
                    <strong>{% if row.emp_id %}{{ row.emp.pi.user.get_fullname|upper }}{% else %}{{ row.participants_name }}{% endif %}</strong>
                </div>
                <p style="font-size: 15px;">
                    Has successfully <span class="training_adjective">completed</span> the
                </p>
                <div class="font-adjustable-tttitle" style="font-size: 22px; width: 95%;">
                    <strong>{{ training.training.tt_name|upper }}</strong>
                </div>
                <p class="mt-3" style="font-size: 15px; color: black;">
                    {{ training.get_inclusive_dates_v2 }}<br>
                    {% if training.is_online_platform %}via{% endif %} {{ training.venue }}
                </p>
                     {% if rd %}
                        {% getemployeebyempid rd.emp_id as rd_obj %}    
                    
                    <div class="row" style="justify-content: space-between;margin-left: 2px;padding-top: 5vh;">
                        <p style="font-size: 15px;"><strong>{{ rd_obj.pi.user.get_fullname|upper }}</strong><br>{{ rd.name }}
                        {% endif %}
                        </p>
                        <p style="font-size: 15px;padding-top: 3vh;"><i> Training Hours: {{ training.training_hours  }} Hours</i>  </p>
                    </div>
            </div>
        </div>
    </page>
	{% endfor %}

	<script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/adminlte.min.js' %}"></script>
    <script src="{% static 'js/plugins/sweetalert/sweetalert2.all.min.js' %}"></script>
    <script src="{% static 'js/functions.js' %}"></script>
	<script src="{% static 'js/textFit.min.js' %}"></script>
	<script>
		$(document).on('click', 'a[data-role=certificate_type]', function(){
			$('.training_keyword').text($(this).data('title'));
			$('.training_adjective').text($(this).data('name'));
		});

		textFit($('.font-adjustable'), {maxFontSize: 40});
		textFit($('.font-adjustable-tttitle'), {maxFontSize: 25});
	</script>
</body>
</html>
