<!DOCTYPE html>
{% load static %}
{% load frontend_tags %}
{% load tags %}
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>DSWD My PORTAL | Print Leave Application</title>
	<link rel="shortcut icon" type="image/png" href="{% static 'image/logo.ico' %}"/>
	<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/plugins/sweetalert/sweetalert.css' %}" rel="stylesheet">
	<link href="{% static 'font-awesome/css/all.css' %}" rel="stylesheet">
    <link href="{% static 'css/print.css' %}" rel="stylesheet">
	<style type="text/css">
        @media print {
			.containerX {
				padding: 0px;
				margin: 0px;
				zoom: 65% !important;
				height: 0% !important;
			}
			page {
				margin: 0px;
				border: 0.5px solid transparent;
				height: 204mm !important;
			}
			.vertical-right, .vertical-left {
				margin: 0px !important;
			}
        }

		.containerX {
			zoom: 65%;
		}

		body{
			font-family: Arial;
			font-size: 15px;
			color: black;
		}

		.no-padding{
			padding: 2px !important;
		}

		.no-margins {
		  margin: 0 !important;
		}

		.vertical-right {
			position: absolute;
			top: 0;
			margin-top: 12mm;
			left: 50%;
        }

		.vertical-left {
			position: absolute;
			top: 0;
			margin-top: 12mm;
			right: 50%;
        }

        .bold{
        	font-weight: bold;
        }

        input{
        	text-align: center;
        }

        input[type=checkbox]{
        	transform: scale(1.5);
        }
	</style>
</head>
<nav class="navbar navbar-default" style="font-family: 'Inter';">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<i class="fas fa-bars"></i>
			</button>
			<a class="navbar-brand" href="javascript:;">Leave Application ({{ leave.leaveapp.tracking_no }})</a>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="javascript:;" class="print-button" id="floatprint" title="Print" style="font-size: 14px;"><i class="fas fa-print"></i> Print</a></li>
			</ul>
		</div>
	</div>
</nav>
<body>
	<page size="A4" layout="landscape" style="padding-right: 35px; padding-left: 35px; padding-top: 20px; position: relative; page-break-after: always;">
		<div class="containerX">
		{% for row in 2|times %}
			<div style="width:50%; {% if row == 0 %}float:left;padding-right:35px;{% endif %} {% if row == 1 %}margin-left:50%;padding-left:35px;{% endif %}">
				<p class="bold text-center no-margins">Republic of the Philippines</p>
				<p class="bold text-center no-margins">DEPARTMENT OF SOCIAL WELFARE AND DEVELOPMENT</p>
				<p class="bold text-center no-margins">Caraga Region</p>
				<p class="bold text-center">R. Palma St, Butuan City</p>
				<div class="pull-left" style="margin-top: -90px;">
					<img loading="lazy"  src="{% static 'image/dswd_logo.png' %}" width="130px;">
				</div>
				<div class="pull-right" style="margin-top: -90px;">
					<table class="table table-bordered" style="font-size: 12px">
						<tr>
							<th class="text-center">CS Form No. 6 <br> Revised 1998</th>
						</tr>
					</table>
				</div>
				<br>
				<table class="table table-bordered" style="font-size: 15px; margin-top: -15px;">
					<tr>
						<th colspan="4" class="no-padding text-center">APPLICATION FOR LEAVE</th>
					</tr>
					<tr>
						<th class="no-padding" width="20%">1. OFFICE/AGENCY</th>
						<th class="no-padding" width="30%">&nbsp;2. NAME (LAST)</th>
						<th class="no-padding" width="25%" style="border-right: 0px;">(FIRST)</th>
						<th class="no-padding">(M.I.)</th>
					</tr>
					<tr>
						<th class="no-padding text-center" style="font-weight: normal;">DSWD Caraga</th>
						<td class="no-padding">&nbsp;{{ leave.leaveapp.emp.pi.user.last_name|title }}</td>
						<td class="no-padding" style="border-left: 0px;">{{ leave.leaveapp.emp.pi.user.first_name|title }}</td>
						<td class="no-padding">{{ leave.leaveapp.emp.pi.user.middle_name|to_middleinitial|title }}</td>
					</tr>
					<tr>
						<th class="no-padding">3. DATE OF FILING</th>
						<th class="no-padding text-center" colspan="2">4. POSITION</th>
						<th class="no-padding">5. SALARY (MONTHLY)</th>
					</tr>
					<tr>
						<td class="no-padding text-center">{{ leave.leaveapp.date_of_filing|date:"m/d/Y" }}</td>
						<td class="no-padding text-center" colspan="2">{{ leave.leaveapp.emp.position.name }}</td>
						<td class="no-padding text-center">{{ leave.leaveapp.emp.salary_rate }}</td>
					</tr>
					<tr>
						<th colspan="4" class="no-padding text-center">6. DETAILS OF APPLICATION</th>
					</tr>
				</table>
				{% if leave.leaveapp.leavesubtype.name != 'Solo Parent' %}
				<div class="row" style="height:208.524px; margin-top: -10px;">
					<div class="col-sm-6">
						<label>6. a) TYPE OF LEAVE</label><br>
						{% for row in leavesubtype %}
							{% if row.is_others != 1 %}
								{% if row.name == leave.leaveapp.leavesubtype.name %}
								<input class="icheck" type="checkbox" checked> &nbsp; {{ row.name }} <br style="line-height: 10px;">
								{% else %}
								<input class="icheck" type="checkbox"> &nbsp; {{ row.name }} <br style="line-height: 10px;">
								{% endif %}
							{% endif %}
						{% endfor %}
						<input class="icheck" type="checkbox" {% if leave.leaveapp.leavesubtype.is_others == 1 %}checked{% endif %}> &nbsp; Others (specify) <br>
						<label style="width: 258px; border-bottom: 1px solid black;">{% if leave.leaveapp.leavesubtype.is_others == 1 %}{{ leave.leaveapp.leavesubtype.name }} {% if leave.leavespent.name %} - {{ leave.leavespent.name }} ({{ leave.specify }}){% elif leave.specify %}({{ leave.specify }}){% endif %}{% else %}<br>{% endif %}</label>
					</div>
					<div class="col-sm-6">
						<label>6. b) WHERE LEAVE WILL BE SPENT</label><br>
						<label>(1) In case of Vacation Leave</label><br>
						<input class="icheck" type="checkbox" {% if leave.leavespent.name == 'Within the Philippines' %}checked{% endif %}> &nbsp; Within the Philippines <input type="text" style="outline: 0; border: 0; border-bottom: 1px solid black; font-weight: bold;" value="{% if leave.leavespent.name == 'Within the Philippines' %}{{ leave.specify }}{% endif %}" size="10"><br>
						<input class="icheck" type="checkbox" {% if leave.leavespent.name == 'Abroad' %}checked{% endif %}> &nbsp; Abroad (specify) <br>
						<input type="text" style="outline: 0; border: 0; border-bottom: 1px solid black; font-weight: bold;" value="{% if leave.leavespent.name == 'Abroad' %}{{ leave.specify }}{% endif %}" size="30"><br>
						<label>(2) In case of Sick Leave</label><br>
						<input class="icheck" type="checkbox" {% if leave.leavespent.name == 'In Hospital' %}checked{% endif %}> &nbsp; In Hospital (specify) <br>
						<input type="text" style="outline: 0; border: 0; border-bottom: 1px solid black; font-weight: bold;" value="{% if leave.leavespent.name == 'In Hospital' %}{{ leave.specify }}{% endif %}" size="30"><br>
						<input class="icheck" type="checkbox" {% if leave.leavespent.name == 'Out Patient' %}checked{% endif %}> &nbsp; Out Patient (specify) <br>
						<input type="text" style="outline: 0; border: 0; border-bottom: 1px solid black; font-weight: bold;" value="{% if leave.leavespent.name == 'Out Patient' %}{{ leave.specify }}{% endif %}" size="30">
					</div>
				</div>
				{% endif %}
				<br>
				<div class="row" style="height:120.955px">
					<div class="col-sm-6">
						<label>6.c) NUMBER OF WORKING DAYS APPLIED FOR:</label>
						{% if leave.leaveapp.start_date and leave.leaveapp.end_date %}
							{% days_until leave.leaveapp.start_date|date:"Y-m-d" leave.leaveapp.end_date|date:"Y-m-d" as days_until %}
							<input type="text" style="outline: 0; border: 0; border-bottom: 1px solid black; font-weight: bold;" value="{{ days_until }}" class="working_days" size="35"><br><br>
						{% else %}
							<input type="text" style="outline: 0; border: 0; border-bottom: 1px solid black; font-weight: bold;" value="{% get_leave_total_days leave.leaveapp_id %}" class="working_days" size="35"><br><br>
						{% endif %}
						<label>INCLUSIVE DATES</label><br>
						<input type="text" style="outline: 0; border: 0; border-bottom: 1px solid black; font-weight: bold;" value="{% if leave.leaveapp.start_date is None %}{% get_leave_dates leave.leaveapp_id %}{% else %}{% if leave.leaveapp.start_date == leave.leaveapp.end_date %}{{ leave.leaveapp.start_date }}{% else %}{{ leave.leaveapp.start_date }} - {{ leave.leaveapp.end_date }}{% endif %}{% endif %}" size="35">
					</div>
					{% if leave.leaveapp.leavesubtype.name != 'Solo Parent' %}
					<div class="col-sm-6">
						<label>6.d) COMMUTATION</label><br>
						<input type="checkbox"> &nbsp; Requested <br>
						<input type="checkbox"> &nbsp; Not Requested <br><br>
						<div class="text-center">
							<input type="text" style="outline: 0; border: 0; border-bottom: 1px solid black; font-weight: bold;" value="" size="20"><br>
							<label>Signature of Applicant</label>
						</div>
					</div>
					{% else %}
					<div class="col-sm-6">
						<label>PURPOSE</label><br>
						<input type="text" style="outline: 0; border: 0; border-bottom: 1px solid black; font-weight: bold;" value="{{ leave.leaveapp.reasons }}" size="45">
					</div>
					{% endif %}
				</div>
				<br>
				<div class="row">
					<div class="col-sm-12">
						<table class="table table-bordered">
							<tr>
								<th class="no-padding text-center">7. DETAILS OF ACTION APPLICATION</th>
							</tr>
						</table>
						<div class="row" style="margin-top: -20px;">
							<div class="col-sm-9">
								<label>7.a) {% if leave.leaveapp.leavesubtype.name != 'Solo Parent' %}CERTIFICATION OF LEAVE CREDITS{% else %}SOLO PARENT LEAVE BALANCE{% endif %}</label><br>
								<label>AS OF ___________________</label>
								{% if leave.leaveapp.leavesubtype.name != 'Solo Parent' %}
								<table class="table table-bordered">
									<thead>
										<tr>
											<th class="no-padding text-center" width="16%">Vacation</th>
											<th class="no-padding text-center" width="16%">Sick</th>
											<th class="no-padding text-center" width="16%">Total</th>
											<th class="no-padding text-center" width="16%">SPL</th>
											<th class="no-padding text-center" width="16%">CTDO</th>
											<th class="no-padding text-center" width="16%">&nbsp;</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td class="text-center bold"></td>
											<td class="text-center bold"></td>
											<td class="text-center bold"><br><br><br></td>
											<td class="text-center bold"></td>
											<td class="text-center bold"></td>
											<td class="text-center bold"></td>
										</tr>
										</tr>
										<tr>
											<td class="text-center no-padding bold">&nbsp;</td>
											<td class="text-center no-padding bold"></td>
											<td class="text-center no-padding bold"></td>
											<td class="text-center no-padding bold"></td>
											<td class="text-center no-padding bold"></td>
											<td class="text-center no-padding bold"></td>
										</tr>
									</tbody>
								</table>
								{% else %}
								<table class="table-bordered" width="50%">
									<thead>
										<tr>
											<th class="no-padding text-center" width="16%">Solo Parent Leave</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td class="text-center bold"><br><br><br></td>
										</tr>
										<tr>
											<td class="text-center no-padding bold">&nbsp;</td>
										</tr>
									</tbody>
								</table>
								{% endif %}
							</div>
							<div class="col-sm-3">
								<label>7.b) RECOMMENDATION</label><br>
								<input type="checkbox"> &nbsp; Approved <br>
								<input type="checkbox"> &nbsp; Disapproved due to<br>
								<input type="text" style="outline: 0; border: 0; border-bottom: 1px solid black; font-weight: bold;" value="{{ additional.11.answers|upper }}" size="25">
							</div>
						</div>
						<br>
						<div class="row">
							<div class="col-sm-6 text-center">
								<input type="text" style="outline: 0; border: 0; border-bottom: 1px solid black; font-weight: bold; text-align: center;" value="{{ personnel_officer.key_acronym|upper }}" size="30"><br>
								<input type="text" style="outline: 0; border: 0; font-weight: bold; text-align: center; font-size: 13px;" value="{{ personnel_officer.key_name }}" size="30"><br>
							</div>
							{% if classes == 1 %}
								{% getemployeebyempid first_level as first_lvl %}
								{% getemployeebyempid second_level as second_lvl %}
							{% elif classes == 2 %}
								{% if first_level == "" %}
									{% getemployeebyempid second_level.emp_id as second_lvl %}
								{% else %}
									{% getemployeebyempid first_level as first_lvl %}
									{% getemployeebyempid second_level.emp_id as second_lvl %}
								{% endif %}
							{% endif %}
							<div class="col-sm-6 text-center">
								<input type="text" style="outline: 0; border: 0; border-bottom: 1px solid black; font-weight: bold; text-align: center; text-transform: uppercase;" value="{% if classes == 1 or classes == 2 %}{{ first_lvl.pi.user.first_name }} {{ first_lvl.pi.user.middle_name|to_middleinitial }} {{ first_lvl.pi.user.last_name }}{% elif classes == 3 %}{{ first_level.key_acronym }}{% endif %}" size="30"><br>
								<input class="no-margins" style="outline: 0; border: 0; font-weight: bold; text-align: center; font-size: 13px;" value="{% if classes == 1 %}Chief, {{ first_level_pos.div_acronym }}{% elif classes == 2 %}{{ first_level_pos.name }}{% elif classes == 3 %}{{ first_level_pos }}{% endif %}"><br>
								<p class="no-margins" style="margin-top: -20px; font-size: 12px;">(Authorized Official)</p>
							</div>
						</div>
						<hr style="margin-bottom:5px; margin-top:5px; border: 0.1px solid black;">
						<div class="row">
							<div class="col-sm-8">
								<label>7.c) APPROVED FOR</label><br>
								<input type="text" style="outline: 0; border: 0; border-bottom: 1px solid black; font-weight: bold;" value="{{ additional.11.answers|upper }}" size="10"> <label>Days with pay</label><br>
								<input type="text" style="outline: 0; border: 0; border-bottom: 1px solid black; font-weight: bold;" value="{{ additional.11.answers|upper }}" size="10"> <label>Days w/o pay</label><br>
								<input type="text" style="outline: 0; border: 0; border-bottom: 1px solid black; font-weight: bold;" value="{{ additional.11.answers|upper }}" size="10"> <label>Others (Specify)</label>
							</div>
							<div class="col-sm-4">
								<label>7.d) DISAPPROVED DUE TO:</label><br>
								<input type="text" style="outline: 0; border: 0; border-bottom: 1px solid black; font-weight: bold;" value="{{ additional.11.answers|upper }}" size="25"><br>
								<input type="text" style="outline: 0; border: 0; border-bottom: 1px solid black; font-weight: bold;" value="{{ additional.11.answers|upper }}" size="25"><br>
								<input type="text" style="outline: 0; border: 0; border-bottom: 1px solid black; font-weight: bold;" value="{{ additional.11.answers|upper }}" size="25">
							</div>
						</div>
						<br>
						<div class="row">
							<div class="col-sm-12 text-center">
								<input type="text" style="outline: 0; border: 0; border-bottom: 1px solid black; font-weight: bold; text-align: center; text-transform: uppercase;" value="{% if classes == 1 or classes == 2 %}{{ second_lvl.pi.user.first_name }} {{ second_lvl.pi.user.middle_name|to_middleinitial }} {{ second_lvl.pi.user.last_name }}{% elif classes == 3 %}{{ second_level.key_acronym }}{% endif %}" size="30"><br>
								<input type="text" class="no-margins" style="outline: 0; border: 0; font-weight: bold; text-align: center; font-size: 13px;" value="{% if classes == 1 %}{{ second_level_pos.name }}{% elif classes == 2 or classes == 3 %}{{ second_level_pos }}{% endif %}"><br>
								<p style="font-size: 12px;">(Authorized Official)</p>
								<br><br>
								<div class="pull-right" style="margin-top: -30px;">
									<small><b>TRACKING NO. {{ leave.leaveapp.tracking_no }}</b></small><br>
									<small>Note: Print in A4. Please see instructions at the back</small>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
		<div class="vertical-right">
			<img loading="lazy"  src="{% static 'image/cut_right.png' %}" class="">
		</div>
		<div class="vertical-left">
			<img loading="lazy"  src="{% static 'image/cut_left.png' %}" class="">
		</div>
		</div>
	</page>

	<page size="A4" layout="landscape" style="padding: 35px; position: relative;">
		<div class="containerX">
		{% for row in 2|times %}
			<div class="box text-center" style="width:50%; {% if row == 0 %}float:left;padding-right:35px;{% endif %} {% if row == 1 %}margin-top:350px; margin-left:50%;padding-left:35px;{% endif %}">
				<div class="box text-center" style="border: 1px solid black; width: 500px; height:auto; margin-left:auto; margin-right:auto; padding: 20px; font-size: 13px;">
					<label><u>INSTRUCTIONS</u></label><br><br>
					<p>1. Application for <b>Vacation or Sick Leave</b> for one full day or more shall be made on this form and to be accomplished at least <b>in duplicate.</b></p><br>
					<p>2. Application for <b>Vacation Leave</b> shall be filled in <b>ADVANCE or whenever possible. five (5) days</b> before going on such leave.</p><br>
					<p>3. Application for Sick Leave filed in advance or exceeding (5) five days shall be <b>accompanied by a medical certificate.</b> In case medical consultation was not available, an affidavit should be executed by this applicant.</p><br>
					<p>4. An employee who is absent without approved leave shall not be entitled to receive his/her salary corresponding to the period of his unauthorized leave of absence.</p><br>
					<p>5. An application for leave of absence for thirty (30) calendar days or more shall be <b>accompanied by a clearance</b> from money and property accountability.</p>
				</div>
			</div>
		{% endfor %}
		<div class="vertical-right">
			<img loading="lazy"  src="{% static 'image/cut_right.png' %}" class="">
		</div>
		<div class="vertical-left">
			<img loading="lazy"  src="{% static 'image/cut_left.png' %}" class="">
		</div>
		</div>
	</page>

	<script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/plugins/sweetalert/sweetalert.min.js' %}"></script>
    <script src="{% static 'js/functions.js' %}"></script>
</body>
</html>