{% extends 'layout.html' %}
{% load static %}
{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/adjustments.css' %}">
<style type="text/css">
	th{
		background: #F5F5F5;
	}
	td{
		background: white;
	}
    .select2-container--default .select2-selection--single {
        border: none;
        text-align: left !important;
    }

    .select2-selection__rendered {
        font-size: 12px !important;
        font-weight: bold;
        color: inherit !important;
        text-transform: uppercase;
    }
    .select2-results__option{
    	text-transform: uppercase;
    }

    .form-control-sm{
        font-weight: bold;
        text-transform: uppercase;
    }
    .notboldandbig th {
    	font-size: 12px !important;
		font-weight: normal;
		font-size: 95%;
    }

    td.p-0 {
		text-align: center;
		vertical-align: middle !important;
	}
</style>
{% endblock %}
{% block content %}
<div class="container-fluid">
	<div class="row px-3 pt-3">
		<div class="col-lg-8">
			<h1 class="font-weight-bold">{{ tab_title }}</h1>
			<ol class="breadcrumb bg-transparent p-0">
				<li class="breadcrumb-item">
					<a href="{% url 'backend-dashboard' %}">Home</a>
				</li>
				<li class="breadcrumb-item">
					{{ tab_parent }}
				</li>
                {% if tab_child and tab_child != '' %}
				<li class="breadcrumb-item">
					{{ tab_child }}
				</li>
                {% endif %}
				<li class="breadcrumb-item active">
					<strong>{{ tab_title }}</strong>
				</li>
			</ol>
		</div>
		<div class="col-lg-4 pt-3">
			<div class="float-md-right">
				<button class="btn btn-info" onclick="$('#click-submit').click();">
					Save changes
				</button>
				<div class="btn-group">
					<a class="btn btn-default disabled">Previous</a>
					<a href="{% url 'family-background' %}" class="btn btn-default">Next</a>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="content-wrapper p-4 ml-0">
<div class="card card-info card-outline">
	<div class="card-body">
		<div class="row">
			<div class="col-sm-12">
				<form id="submitProfileForm" role="form" name="submitProfileForm">
				{% csrf_token %}
				<div class="table-responsive">
					<table class="table table-bordered notboldandbig m-0" style="white-space: normal !important; zoom: 95% !important;">
						<tbody style="font-size: 11px;">
							<tr>
								<th width="15%">SURNAME</th>
								<td class="p-0" colspan="5" style="background-color: #eee;"><input type="text" class="form-control form-control-sm  border-0" value="{{ pds.user.last_name }}" name="surname" required></td>
							</tr>
							<tr>
								<th>FIRST NAME</th>
								<td class="p-0" colspan="3" style="background-color: #eee;"><input type="text" class="form-control form-control-sm  border-0" value="{{ pds.user.first_name }}" id="fname" name="fname" required></td>
								<th>EXTENSION</th>
								<td class="p-0" style="background-color: #eee;">
									<select class="form-control form-control-sm  select" name="ext" id="ext">
										<option></option>
										{% for row in ext %}
										<option value="{{ row.id }}">{{ row.name }}</option>
										{% endfor %}
									</select>
								</td>
							</tr>
							<tr>
								<th>MIDDLE NAME</th>
								<td class="p-0" colspan="5" style="background-color: #eee;">
									<input type="text" class="form-control form-control-sm  border-0" value="{{ pds.user.middle_name }}" name="mname">
								</td>
							</tr>
							<tr>
								<th>DATE OF BIRTH</th>
								<td class="p-0">
									<input type="date" class="form-control form-control-sm  border-0" name="dob" id="dob" value="{{ pds.dob|date:'Y-m-d' }}" required>
								</td>
								<th rowspan="3" width="15%">
									CITIZENSHIP
									<br><br>
									<p style="font-size:10px; text-align:center; font-weight: normal;">(if holder of dual citizenship,<br>please indicate the details)</p>
								</th>
								<td colspan="1" rowspan="2">
									<input class="icheck" type="checkbox" name="isfilipino" value="1" {% if pds.isfilipino == 1%}checked{% endif %}> Filipino
								</td>
								<td colspan="2" style="border-left: 0px solid transparent !important" rowspan="2">
									<input class="icheck" type="checkbox" name="isdualcit" id="isdualcit" onclick="CheckDualCitizenship();" {% if pds.isdualcitizenship == 1 %}checked{% endif %}> Dual Citizenship <br>
									<input class="icheck" type="checkbox" name="isbybirth" {% if pds.dc_bybirth == 1 %}checked{% endif %}> by birth&emsp;
									<input class="icheck" type="checkbox" class="ml-2" name="isbynaturalization" {% if pds.dc_bynaturalization == 1 %}checked{% endif %}> by naturalization
								</td>
							</tr>
							<tr>
								<th>PLACE OF BIRTH</th>
								<td class="p-0">
									<input type="text" class="form-control form-control-sm  border-0" name="pob" value="{% if pds.pob %}{{ pds.pob }}{% endif %}">
								</td>
							</tr>
							<tr>
								<th>SEX</th>
								<td class="p-0">
									<select class="form-control form-control-sm  select" name="gender" id="gender">
										<option></option>
										<option value="1">Male</option>
										<option value="2">Female</option>
									</select>
								</td>
								<td class="p-0" colspan="3" style="background-color: #eee;">
									{% if pds.country_id %}
									<select class="form-control form-control-sm  select" name="countries" id="countries">
										<option></option>
										{% for row in countries %}
										{% if row.id == pds.country_id %}
										<option value="{{ row.id }}" selected="selected">{{ row.name }}</option>
										{% else %}
										<option value="{{ row.id }}">{{ row.name }}</option>
										{% endif %}
										{% endfor %}
									</select>
									{% else %}
									<select class="form-control form-control-sm  select" name="countries" id="countries" disabled>
										<option></option>
										{% for row in countries %}
										<option value="{{ row.id }}">{{ row.name }}</option>
										{% endfor %}
									</select>
									{% endif %}
								</td>
							</tr>
							<tr>
								<th>CIVIL STATUS</th>
								<td class="p-0">
									<select class="form-control form-control-sm  select" name="cs" id="cs">
										<option></option>
										{% for row in cs %}
										<option value="{{ row.id }}">{{ row.name }}</option>
										{% endfor %}
									</select>
								</td>
								<th rowspan="3">
									RESIDENTIAL ADDRESS
									<div style="margin-top: 100px;" class="text-center">ZIP CODE</div>
								</th>
								<td class="p-0">
									<input type="text" class="form-control form-control-sm  border-0" name="ra_house_no" value="{{ address.ra_house_no}}">
									<small><i class="text-center">House/Block/Lot No.</i></small>
								</td>
								<td class="p-0">
									<input type="text" class="form-control form-control-sm  border-0" name="ra_street" value="{{ address.ra_street }}">
									<small><i>Street</i></small>
								</td>
								<td class="p-0">
									<input type="text" class="form-control form-control-sm  border-0" name="ra_village" value="{{ address.ra_village }}">
									<small><i>Subdivision/Village</i></small>
								</td>
							</tr>
							<tr>
								<th>HEIGHT (m)</th>
								<td class="p-0">
									<input type="text" class="form-control form-control-sm  border-0" name="height" value="{% if pds.height %}{{ pds.height }}{% endif %}" required>
								</td>
								<td class="p-0">
									<select class="form-control form-control-sm  select" id="rs-province" name="ra_prov_code">
										<option></option>
										{% for row in prov %}
										<option value="{{ row.id }}">{{ row.name }}</option>
										{% endfor %}
									</select>
									<small><i>Province</i></small>
								</td>
								<td class="p-0">
									{% if address.ra_city %}
									<select class="form-control form-control-sm  select" id="rs-city" name="ra_city" required>
										<option></option>
										{% for row in ra_city %}
										<option value="{{ row.code }}">{{ row.name }}</option>
										{% endfor %}
									</select>
									{% else %}
									<select class="form-control form-control-sm  select" id="rs-city" name="ra_city" required disabled></select>
									{% endif %}
									<small><i>City / Municipality</i></small>
								</td>
								<td class="p-0">
									{% if address.ra_brgy %}
									<select class="form-control form-control-sm  select" id="rs-brgy" name="ra_brgy" required>
										{% for row in ra_brgy %}
										<option></option>
										<option value="{{ row.id }}">{{ row.name }}</option>
										{% endfor %}
									</select>
									{% else %}
									<select class="form-control form-control-sm  select" id="rs-brgy" name="ra_brgy" required disabled></select>
									{% endif %}
									<small><i>Barangay</i></small>
								</td>
							</tr>
							<tr>
								<th>WEIGHT (kg)</th>
								<td class="p-0">
									<input type="text" class="form-control form-control-sm  border-0"  name="weight" value="{% if pds.weight %}{{ pds.weight }}{% endif %}" required>
								</td>
								<td class="p-0" colspan="3">
									<input type="text" class="form-control form-control-sm  border-0" name="ra_zipcode" value="{{ address.ra_zipcode }}" onkeypress="return isNumberKey(event)">
								</td>
							</tr>
							<tr>
								<th>BLOOD TYPE</th>
								<td class="p-0">
									<select class="form-control form-control-sm  select" id="bt" name="bt">
										<option></option>
										{% for row in bt %}
										<option value="{{ row.id }}">{{ row.name }}</option>
										{% endfor %}
									</select>
								</td>
								<th rowspan="3">
									PERMANENT ADDRESS
									<div style="margin-top: 100px;" class="text-center">ZIP CODE</div>
								</th>
								<td class="p-0">
									<input type="text" class="form-control form-control-sm  border-0" name="pa_house_no" value="{{ address.pa_house_no }}" required>
									<p><small><i>House/Block/Lot No.</i></small></p>
								</td>
								<td class="p-0">
									<input type="text" class="form-control form-control-sm  border-0" name="pa_street" value="{{ address.pa_street }}" required>
									<p><small><i>Street</i></small></p>
								</td>
								<td class="p-0">
									<input type="text" class="form-control form-control-sm  border-0" name="pa_village" value="{{ address.pa_village }}">
									<p><small><i>Subdivision/Village</i></small></p>
								</td>
							</tr>
							<tr>
								<!-- <th>GSIS ID NO.</th>
								<td class="p-0">
									<input type="text" class="form-control form-control-sm  border-0" name="gsis_no" value="{{ numbers.gsis_no }}">
								</td> -->

								<th>PhilSys Number (PSN):</th>
								<td class="p-0">
									<input type="text" class="form-control form-control-sm  border-0" name="philsys_no" value="{{ numbers.philsys_no }}">
								</td>
								<td class="p-0">
									<select class="form-control form-control-sm  select" id="pa-province" name="pa_prov_code" required>
										<option></option>
										{% for row in prov %}
										{% if row.id == address.pa_prov_code %}
										<option value="{{ row.id }}" selected="selected">{{ row.name }}</option>
										{% else %}
										<option value="{{ row.id }}">{{ row.name }}</option>
										{% endif %}
										{% endfor %}
									</select>
									<small><i>Province</i></small>
								</td>
								<td class="p-0">
									{% if address.pa_city %}
									<select class="form-control form-control-sm  select" id="pa-city" name="pa_city" required>
										<option></option>
										{% for row in pa_city %}
										<option value="{{ row.code }}">{{ row.name }}</option>
										{% endfor %}
									</select>
									{% else %}
									<select class="form-control form-control-sm  select" id="pa-city" name="pa_city" required disabled></select>
									{% endif %}
									<small><i>City / Municipality</i></small>
								</td>
								<td class="p-0">
									{% if address.pa_brgy %}

									<select class="form-control form-control-sm  select" id="pa-brgy" name="pa_brgy" required>
										<option></option>
										{% for row in pa_brgy %}
										<option value="{{ row.id }}">{{ row.name }}</option>
										{% endfor %}
									</select>
									{% else %}
									<select class="form-control form-control-sm  select" id="pa-brgy" name="pa_brgy" required disabled></select>
									{% endif %}
									<small><i>Barangay</i></small>
								</td>
							</tr>
							<tr>
								<th>PAG-IBIG ID NO.</th>
								<td class="p-0">
									<input type="text" class="form-control form-control-sm  border-0" value="{{ numbers.pagibig_no }}" name="pagibig_no">
								</td>
								<td class="p-0" colspan="3">
									<input type="text" class="form-control form-control-sm  border-0" value="{{ address.pa_zipcode }}" name="pa_zipcode" onkeypress="return isNumberKey(event)" required>
								</td>
							</tr>
							<tr>
								<th>PHILHEALTH NO.</th>
								<td class="p-0">
									<input type="text" class="form-control form-control-sm  border-0" value="{{ numbers.philhealth_no }}" name="philhealth_no">
								</td>
								<th>TELEPHONE NO.</th>
								<td class="p-0" colspan="3">
									<input type="text" maxlength="10" class="form-control form-control-sm  border-0" name="telephone_no" value="{% if pds.telephone_no %}{{ pds.telephone_no }}{% endif %}">
								</td>
							</tr>
							<!-- <tr>
								<th>SSS NO.</th>
								<td class="p-0"><input type="text" class="form-control form-control-sm  border-0" value="{{ numbers.sss_no }}" name="sss_no"></td>
								<th>MOBILE NO.</th>
								<td class="p-0" colspan="3">
									<input type="text" maxlength="11" name="mobile_no" class="form-control form-control-sm  border-0" onkeypress="return isNumberKey(event)" value="{% if pds.mobile_no %}{{ pds.mobile_no }}{% endif %}">
								</td>
							</tr> -->
							<tr>
								<th>UMID.</th>
								<td class="p-0"><input type="text" class="form-control form-control-sm  border-0" value="{{ numbers.umid_no }}" name="umid_no"></td>
								<th>MOBILE NO.</th>
								<td class="p-0" colspan="3">
									<input type="text" maxlength="11" name="mobile_no" class="form-control form-control-sm  border-0" onkeypress="return isNumberKey(event)" value="{% if pds.mobile_no %}{{ pds.mobile_no }}{% endif %}">
								</td>
							</tr>
							<tr>
								<th>TIN NO.</th>
								<td class="p-0">
									<input type="text" class="form-control form-control-sm  border-0" name="tin_no" value="{{ numbers.tin_no }}">
								</td>
								<th>E-MAIL ADDRESS (if any)</th>
								<td class="p-0" colspan="3">
									<input type="text" class="form-control form-control-sm  border-0" name="email" style="text-transform: lowercase !important;" value="{{ pds.user.email }}">
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="form-group display-none">
					<button type="submit" class="btn btn-info" id="click-submit">Save changes</button>
				</div>
				</form>
			</div>
		</div>
	</div>
</div>
</div>
{% endblock %}
{% block script %}
<script>
    function isNumberKey(evt)
    {
        var charCode = (evt.which) ? evt.which : event.keyCode
        if (charCode != 46 && charCode > 31 && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }

    function isNumberKeyDash(evt)
    {
        var charCode = (evt.which) ? evt.which : event.keyCode
        if (charCode != 46 && charCode != 45 && charCode > 31 && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }

	$(document).ready(function(){
        $('#gender').select2('val', '{{ pds.gender }}');
		$('#cs').select2('val', '{{ pds.cs_id }}');
		$('#bt').select2('val', '{{ pds.bt_id }}');
		$('#ext').select2('val', '{{ pds.ext_id }}');
		$('#rs-province').select2('val', '{{ address.ra_prov_code }}');
		// $('#pa-province').select2('val', '{{ address.pa_prov_code }}');

		if ($('#pa-province').val()){
            $('#pa-city').select2('val', '{{ address.pa_city }}');
		}

        if ($('#rs-province').val()){
            $('#rs-city').select2('val', '{{ address.ra_city }}');
        }
        if ($('#rs-city').val()){
            $('#rs-brgy').select2('val', '{{ address.ra_brgy }}');
        }
        if ($('#pa-city').val()){
            $('#pa-brgy').select2('val', '{{ address.pa_brgy }}');
        }

        CheckDualCitizenship();

		function CheckDualCitizenship(){
			checkbox = document.getElementById("isdualcit");

			if (checkbox.checked == true){
			   $('#countries').prop('disabled', false);
			} else {
				$('#countries').select2('val', '');
				$('#countries').prop('disabled', true);
			}
		}

        $('#rs-province').on('change', function(e){
            var rs_id = $(this).val();
            $.ajax({
                url: "{% url 'show-city' %}",
                data: {
                    prov_code: rs_id
                },
                type: "POST"
            })
            .done(function(data){
                $('#rs-city').prop('disabled', false);
                $('#rs-brgy').prop('disabled', false);

                if (data.data){
                    var data = data.data;

                    $('#rs-city').empty();
                    for(var i=0; i< data.length; i++){
                        var newOption = new Option(data[i]['city_name'],data[i]['id']);
                        $('#rs-city').append(newOption);
                    }
                    $('#rs-city').select2('val','');

                } else {
                    $('#rs-city').val(null).trigger('change');
                    $('#rs-brgy').val(null).trigger('change');
                    $('#rs-city').prop('disabled', true);
                    $('#rs-brgy').prop('disabled', true);
                }
            });
            e.preventDefault();
        });

        $('#rs-city').on('change', function(e){
            var rs_city_code = $(this).val();
            $.ajax({
                url: "{% url 'show-brgy' %}",
                data: {
                    city_code: rs_city_code
                },
                type: "POST"
            })
            .done(function(data){
                if (data.data){
                    var data = data.data;
                    $('#rs-brgy').empty();
                    for(var i=0; i< data.length; i++){
                        var newOption = new Option(data[i]['brgy_name'],data[i]['id']);
                        $('#rs-brgy').append(newOption);
                    }
                    $('#rs-brgy').select2('val','');
                } else {
                    $('#rs-brgy').val(null).trigger('change');
                }
            });

            e.preventDefault();
        });

        $('#pa-province').on('change', function(e){
            var pa_id = $(this).val();

            $.ajax({
                url: "{% url 'show-city' %}",
                data: {
                    prov_code: pa_id
                },
                type: "POST"
            })
            .done(function(data){
                $('#pa-city').prop('disabled', false);
                $('#pa-brgy').prop('disabled', false);

                if (data.data){
                    var data = data.data;
                    $('#pa-city').empty();
                    for(var i=0; i< data.length; i++){
                        var newOption = new Option(data[i]['city_name'],data[i]['id']);
                        $('#pa-city').append(newOption);
                    }
                    $('#pa-city').select2('val','');
                } else {
                    $('#pa-city').val(null).trigger('change');
                    $('#pa-brgy').val(null).trigger('change');
                    $('#pa-city').prop('disabled', true);
                    $('#pa-brgy').prop('disabled', true);
                }
            });
            e.preventDefault();
        });

        $('#pa-city').on('change', function(e){
            var pa_city_code = $(this).val();
            $.ajax({
                url: "{% url 'show-brgy' %}",
                data: {
                    city_code: pa_city_code
                },
                type: "POST"
            })
            .done(function(data){
                if (data.data){
                    var data = data.data;
                    $('#pa-brgy').empty();
                    for(var i=0; i< data.length; i++){
                        var newOption = new Option(data[i]['brgy_name'],data[i]['id']);
                        $('#pa-brgy').append(newOption);
                    }
                    $('#pa-brgy').select2('val','');
                } else {
                    $('#pa-brgy').val(null).trigger('change');
                }
            });

            e.preventDefault();
        });

        $('#submitProfileForm').on('submit', function(e){
            $.ajax({
                data        : new FormData(this),
                url         : "{% url 'personal-info' %}",
                type        : 'POST',
                beforeSend: function() {
                	$('.btn').prop('disabled', true);
                	$('a').prop('disabled', true);
                },
                success: function(response) {
                	if(response.data) {
						Swal.fire({
							title: "Well done!",
							text: "Personal Information has been saved successfully.",
							icon: "success",
							confirmButtonColor: "#3498DB",
						});
					}
                },
                complete: function() {
                	$('.btn').prop('disabled', false);
                	$('a').prop('disabled', false);
                },
                cache       : false,
                contentType : false,
                processData : false
            })
            .done(function(data){

            });
            e.preventDefault();
        });

	});

</script>

{% endblock %}