{% extends 'layout.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/adjustments.css' %}">
<style type="text/css">
    th{
        background: #F5F5F5;
    }
    td{
        background: white;
    }
    .select2-container--default .select2-selection--single {
        border: none;
        text-align: left !important;
    }
    .select2-selection__rendered {
        font-size: 12px !important;
        font-weight: bold;
        color: inherit !important;
        text-transform: uppercase;
    }
    .select2-results__option{
    	text-transform: uppercase;
    }

    .form-control-sm{
        font-weight: bold;
        text-transform: uppercase;
    }
    .notboldandbig th {
    	font-size: 12px !important;
		font-weight: normal;
		font-size: 95%;
    }

    td.p-0 {
		text-align: center;
		vertical-align: middle !important;
	}
</style>
{% endblock %}
{% block content %}
<div class="container-fluid">
	<div class="row px-3 pt-3">
		<div class="col-lg-8">
			<h1 class="font-weight-bold">{{ tab_title }}</h1>
			<ol class="breadcrumb bg-transparent p-0">
				<li class="breadcrumb-item">
					<a href="{% url 'backend-dashboard' %}">Home</a>
				</li>
				<li class="breadcrumb-item">
					{{ tab_parent }}
				</li>
                {% if tab_child and tab_child != '' %}
				<li class="breadcrumb-item">
					{{ tab_child }}
				</li>
                {% endif %}
				<li class="breadcrumb-item active">
					<strong>{{ tab_title }}</strong>
				</li>
			</ol>
		</div>
		<div class="col-lg-4 pt-3">
			<div class="float-md-right">
				<button class="btn bg-info" onclick="$('#click-submit').click();">Save changes</button>
				<div class="btn-group">
					<a href="{% url 'work-experience' %}" class="btn btn-default">Previous</a>
					<a href="{% url 'training' %}" class="btn btn-default">Next</a>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="content-wrapper p-4 ml-0">
<div class="card card-info card-outline">
	<div class="card-body">
		<div class="row">
			<div class="col-sm-12">
				<form id="submitVoluntaryForm" class="table-responsive">
				{% csrf_token %}
				<table class="table table-bordered notboldandbig mb-0" style="zoom: 95% !important;">
					<thead>
						<tr>
							<th rowspan="3" class="text-center p-0" width="30%">
								NAME & ADDRESS OF ORGANIZATION
{#                                &emsp;<button type="button" class="btn bg-info btn-xs" data-toggle="modal" data-target='#add-org'><i class="fas fa-plus"></i></button><br>#}
                                <br><small>(write in full)</small>
							</th>
							<th class="text-center p-0" colspan="2" width="20%">
								INCLUSIVE DATES
							</th>
							<th class="text-center p-0" rowspan="3" width="15%">
								NUMBER OF HOURS
							</th>
							<th class="text-center p-0" rowspan="3" width="30%">
								POSITION / NATURE OF WORK
							</th>
							<th rowspan="3">
								<center><button type="button" class="btn bg-info btn-xs add" style="margin-top: 10px"><i class="fas fa-plus"></i></button></center>
							</th>
						</tr>
						<tr>
							<th class="text-center" width="10%">FROM</th>
							<th class="text-center">TO</th>
						</tr>
						<tr></tr>
					</thead>
					<tbody style="font-size: 11px;">
						{% if voluntary %}
						{% for e in voluntary %}
						<tr id="{{ e.id }}">
{#							<td class="p-0">#}
{#								<select class="form-control form-control-sm  select org" name="org[]" id="org">#}
{#									<option></option>#}
{#									{% for row in org %}#}
{#									{% if row.id == e.org_id %}#}
{#									<option value="{{ row.id }}" selected="selected">{{ row.org_name }}</option>#}
{#									{% else %}#}
{#									<option value="{{ row.id }}">{{ row.org_name }}</option>#}
{#									{% endif %}#}
{#									{% endfor %}#}
{#								</select>#}
{#							</td>#}
                            <td class="p-0">
								<input type="text" class="form-control form-control-sm  border-0 org text-center" name="org[]" id="org" value="{{ e.organization }}">
							</td>
							<td class="p-0">
								<input type="date" class="form-control form-control-sm  border-0 inc_from text-center" name="inc_from[]" id="inc_from" value="{{ e.vol_from|date:'Y-m-d' }}">
							</td>
							<td class="p-0">
								<input type="date" class="form-control form-control-sm  border-0 inc_to text-center" name="inc_to[]" id="inc_to" value="{{ e.vol_to|date:'Y-m-d' }}">
							</td>
							<td class="p-0">
								<input type="text" class="form-control form-control-sm  border-0 num_hours text-center" name="num_hours[]" id="num_hours" value="{{ e.vol_hours }}">
							</td>
							<td class="p-0">
								<input type="text" class="form-control form-control-sm  border-0 now" name="now[]" id="now[]" value="{{ e.now }}">
							</td>
							<td class="p-0">
								<center><button type="button" class="btn btn-danger btn-xs remove" data-id="{{ e.id }}" data-role="delete-voluntary"><i class="fa fa-minus"></i></button></center>
							</td>
						</tr>
						{% endfor %}
						{% else %}
						<tr>
{#							<td class="p-0">#}
{#								<select class="form-control form-control-sm  select org" name="org[]">#}
{#									<option></option>#}
{#									{% for row in org %}#}
{#									<option value="{{ row.id }}">{{ row.org_name }}</option>#}
{#									{% endfor %}#}
{#								</select>#}
{#							</td>#}
                            <td class="p-0">
								<input type="text" class="form-control form-control-sm  border-0 org text-center" name="org[]">
							</td>
							<td class="p-0">
								<input type="date" class="form-control form-control-sm  border-0 inc_from text-center" name="inc_from[]">
							</td>
							<td class="p-0">
								<input type="date" class="form-control form-control-sm  border-0 inc_to text-center" name="inc_to[]">
							</td>
							<td class="p-0">
								<input type="text" class="form-control form-control-sm  border-0 num_hours text-center" name="num_hours[]">
							</td>
							<td class="p-0">
								<input type="text" class="form-control form-control-sm  border-0 now" name="now[]">
							</td>
							<td class="p-0">
								<center><button type="button" class="btn btn-danger btn-xs remove" data-role="remove"><i class="fa fa-minus"></i></button></center>
							</td>
						</tr>
						{% endif %}
					</tbody>
				</table>
				<button type="submit" class="btn bg-info display-none" id="click-submit">Save changes</button>
				</form>
			</div>
		</div>
	</div>
</div>
</div>

<div class="modal" id="add-org" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-md">
        <div class="modal-content animated bounceInDown">
	        <div class="modal-header btn-info">
	            <h3 class="modal-title">Add New Organization</h3>
				<button type="button" class="close text-white" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	        </div>
            <form id="addOrg">
            {% csrf_token %}
            <div class="modal-body">
                {{ form_org.org_name|as_crispy_field }}
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn bg-info">Submit</button>
            </div>
            </form>
        </div>
    </div>
</div>


{% endblock %}
{% block script %}
<script type="text/javascript">


	var fieldHTML = '<tr>\
	                	<td class="p-0">\
	                		<input type="text" class="form-control form-control-sm  border-0 org text-center" name="org[]" id="org">\
	                	</td>\
	                	<td class="p-0">\
	                		<input type="date" class="form-control form-control-sm  border-0 inc_from text-center" name="inc_from[]" id="inc_from">\
	                	</td>\
	                	<td class="p-0">\
	                		<input type="date" class="form-control form-control-sm  border-0 inc_to text-center" name="inc_to[]" id="inc_to">\
	                	</td>\
	                	<td class="p-0">\
	                		<input type="text" class="form-control form-control-sm  border-0 num_hours text-center" name="num_hours[]" id="num_hours">\
	                	</td>\
	                	<td class="p-0">\
	                		<input type="text" class="form-control form-control-sm  border-0 now" name="now[]" id="now[]">\
	                	</td>\
	                	<td class="p-0">\
	                		<center><button type="button" class="btn btn-danger btn-xs remove" data-role="remove"><i class="fa fa-minus"></i></button></center>\
	                	</td>\
	                </tr>';

	$('.add').on('click', function(){
        $('table').prepend(fieldHTML);

        // fetch_organizations();
        $('.select').select2({
        	width: "100%",
            placeholder: "Choose",
            allowClear: true,
        });
        calculateNumHours();
    });

    calculateNumHours();
    function calculateNumHours(){
        $('.inc_to').on('change', function(){
            var date_from, date_to;
            var hours = 0;
            $('tbody tr').each(function(){
                date_from = new Date($(this).find('.inc_from').val());
                date_to = new Date($(this).find('.inc_to').val());

                start = Math.floor(date_from.getTime() / (3600 * 24 * 1000))
                end = Math.floor(date_to.getTime() / (3600 * 24 * 1000))
                hours = (end - start + 1) * 8;
                $(this).find('.num_hours').val(parseFloat(hours).toFixed(2));
            });
        });
    }

	$(document).on('click','button[data-role="remove"]', function(){
        $(this).closest('tr').remove();
    });

    $('#submitVoluntaryForm').on('submit', function(e){
        if (checkForm() == 0){
            $.ajax({
                data        : new FormData(this),
                url         : '{% url "voluntary" %}',
                type        : 'POST',
                beforeSend: function() {
                	$('.btn').prop('disabled', true);
                	$('a').prop('disabled', true);
                },
                success: function(response) {
                	if(response.data) {
						Swal.fire({
                            title: "Well done!",
                            text: "Voluntary Work has been saved successfully.",
                            icon: "success",
                            confirmButtonColor: "#3498DB",
                        });
					}
                },
                complete: function() {
                	$('.btn').prop('disabled', false);
                	$('a').prop('disabled', false);
                },
                cache       : false,
                contentType : false,
                processData : false
            })
        }
        e.preventDefault();
    });

    function checkForm(){
        invalid = 0;
        $('.org').each( function() {
            if (this.value == "") {
                $(this).nextAll('.error').remove();
                $(this).after("<span class='error text-danger'>This field is required.</span>");
                invalid += 1;
            } else {
                $(this).nextAll('.error').remove();
            }
        });

        $('.inc_from').each( function() {
            if (this.value == "") {
                $(this).nextAll().remove();
                $(this).after("<span class='error text-danger'>This field is required.</span>");
                invalid += 1;
            } else {
                $(this).nextAll().remove();
            }
        });

        $('.inc_to').each( function() {
            if (this.value == "") {
                $(this).nextAll().remove();
                $(this).after("<span class='error text-danger'>This field is required.</span>");
                invalid += 1;
            } else {
                $(this).nextAll().remove();
            }
        });

        $('.num_hours').each( function() {
            if (this.value == "") {
                $(this).nextAll().remove();
                $(this).after("<span class='error text-danger'>This field is required.</span>");
                invalid += 1;
            } else {
                $(this).nextAll().remove();
            }
        });

        $('.now').each( function() {
            if (this.value == "") {
                $(this).nextAll().remove();
                $(this).after("<span class='error text-danger'>This field is required.</span>");
                invalid += 1;
            } else {
                $(this).nextAll().remove();
            }
        });
        return invalid;
    }

    $(document).on('click', 'button[data-role=delete-voluntary]', function(){
        id = $(this).data('id');
        Swal.fire({
          title: "Are you sure",
          text: "You want to delete this record?",
          icon: "warning",
          showCancelButton: true,
          confirmButtonColor: "#DD6B55",
          confirmButtonText: "Yes",
          allowOutsideClick: false,
		}).then((result) => {
		    if (result.isConfirmed) {
		        Swal.showLoading()
				$.ajax({
					url: "/delete-voluntary/",
					data: {
						id: id
					},
					type: "POST"
				})
				.done(function(data){
					$('tr#'+id).remove();
					Swal.fire("Success!", "Your record was successfully deleted. Farewell.", "success");
				});
			}
	    });
    });

    $('#addOrg').on('submit', function(e){
        e.preventDefault();
        $form = $(this);
        $.ajax({
            data        : new FormData(this),
            url         : '/add-org/',
            type        : 'POST',
            success: function (response) {
                $('.error').remove();
                if (response.msg){
                    error = '<small class="text-danger error">' + response.msg + '</small>'
                    $form.find('[name=org_name]').after(error);
                }
                else {
                    $('#add-org').modal('hide');
                    toastrOptions();
                    toastr.success("The organization \'" + response.org_name.toUpperCase() + "\' has been added successfully.", "Well done!");
                    fetch_organizations();
                }
            },
            cache       : false,
            contentType : false,
            processData : false
        });
    });

    function fetch_organizations(){
        $.getJSON('{% url 'api-organizations' request.session.pi_id %}', function(response) {
            data_organizations = [];

            for (var d = 0; d < response.data.length; d++) {
                data_organizations.push({id: response.data[d].id, text: response.data[d].org_name});
            }

            $('.org').select2({
                data: data_organizations,
                allowClear: true,
                placeholder: 'Choose'
            });
        });
    }
</script>
{% endblock %}