{% extends 'layout.html' %}
{% load crispy_forms_tags %}
{% load humanize %}
{% load static %}
{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/adjustments.css' %}">
<style type="text/css">
    th{
        background: #F5F5F5;
    }
    td{
        background: white;
    }
    .select2-container--default .select2-selection--single {
        border: none;
        text-align: left !important;
    }
    .select2-selection__rendered {
        font-size: 12px !important;
        font-weight: bold;
        color: inherit !important;
        text-transform: uppercase;
    }
    .select2-results__option{
    	text-transform: uppercase;
    }

    .form-control-sm{
        font-weight: bold;
        text-transform: uppercase;
    }
    .notboldandbig th {
    	font-size: 12px !important;
		font-weight: normal;
		font-size: 95%;
    }

    td.p-0 {
		text-align: center;
		vertical-align: middle !important;
	}
</style>
{% endblock %}
{% block content %}
<div class="container-fluid">
	<div class="row px-3 pt-3">
		<div class="col-lg-8">
			<h1 class="font-weight-bold">{{ tab_title }}</h1>
			<ol class="breadcrumb bg-transparent p-0">
				<li class="breadcrumb-item">
					<a href="{% url 'backend-dashboard' %}">Home</a>
				</li>
				<li class="breadcrumb-item">
					{{ tab_parent }}
				</li>
                {% if tab_child and tab_child != '' %}
				<li class="breadcrumb-item">
					{{ tab_child }}
				</li>
                {% endif %}
				<li class="breadcrumb-item active">
					<strong>{{ tab_title }}</strong>
				</li>
			</ol>
		</div>
		<div class="col-lg-4 pt-3">
			<div class="float-md-right">
				<button class="btn bg-info" onclick="$('#click-submit').click();">Save changes</button>
				<div class="btn-group">
					<a href="{% url 'civil-service' %}" class="btn btn-default">Previous</a>
					<a href="{% url 'voluntary' %}" class="btn btn-default">Next</a>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="content-wrapper p-4 ml-0">
<div class="card card-info card-outline">
	<div class="card-body">
		<div class="row">
			<div class="col-sm-12">
				<form id="submitWorkForm" class="table-responsive">
				{% csrf_token %}
				<table class="table table-bordered notboldandbig mb-0" style="zoom: 95% !important;">
					<thead>
						<tr>
							<th colspan="2" class="text-center p-0">
								INCLUSIVE DATES
							</th>
							<th rowspan="3" class="text-center p-0" width="20%">
								POSITION TITLE
{#                                &emsp;<button type="button" class="btn bg-info btn-xs" data-toggle="modal" data-target='#add-position'><i class="fas fa-plus"></i></button><br>#}
                                <br><small>(write in full / do not abbreviate)</small>
							</th>
							<th rowspan="3" class="text-center p-0" width="20%">
								DEPARTMENT / AGENCY / OFFICE / COMPANY<br>
								<small>(write in full / do not abbreviate)</small>
							</th>
							<!-- <th rowspan="3" class="text-center p-0" width="10%">
								MONTHLY SALARY
							</th>
							<th rowspan="3" class="text-center p-0" width="8%">
								SALARY/ JOB/ PAY GRADE <small>(if applicable)</small> & STEP INCREMENT <small>(format "00-0")</small>
							</th> -->
							<th rowspan="3" class="text-center p-0" width="10%">
								STATUS OF APPOINTMENT
							</th>
							<th rowspan="3" class="text-center p-0">
								GOV'T SERVICE <small>(Y/N)</small>
							</th>
							<th rowspan="3" class="p-0" width="3%">
								<center><button type="button" class="btn bg-info btn-xs add" style="margin-top: 10px"><i class="fas fa-plus"></i></button></center>
							</th>
						</tr>
						<tr>
							<th class="text-center p-0">FROM</th>
							<th class="text-center p-0">TO</th>
						</tr>
						<tr></tr>
					</thead>
					<tbody style="font-size: 11px;">
						{% if work %}
						{% for e in work %}
						<tr id="{{ e.id }}">
							<td class="p-0">
								<input type="date" class="form-control form-control-sm  border-0 inc_from text-center" name="inc_from[]" value="{{ e.we_from|date:'Y-m-d' }}" {% if e.status %}disabled{% endif %}>
							</td>
							 <td class="p-0 text-center">
                                        {% if e.we_to %}
                                            <input type="date" class="form-control form-control-sm border-0 inc_to text-center" 
                                                name="inc_to[]" value="{{ e.we_to|date:'Y-m-d' }}" {% if e.status %}disabled{% endif %} >
                                        {% else %}
                                            <input type="text" class="form-control form-control-sm border-0 text-center" 
                                                value="PRESENT" {% if e.status %}disabled{% endif %}>
                                        {% endif %}
                                    </td>
                            <td class="p-0">
								<input type="text" class="form-control form-control-sm border-0 position" name="position[]" value="{{ e.position_name }}" {% if e.status %}disabled{% endif %}>
							</td>
							<td class="p-0">
								<input type="text" class="form-control form-control-sm border-0 company" name="company[]" value="{{ e.company }}" {% if e.status %}disabled{% endif %}>
							</td>
							<!-- <td class="p-0">
								<input type="text" class="form-control form-control-sm  border-0 salary text-center" name="salary[]" value="{{ e.salary_rate }}" {% if e.status %}disabled{% endif %}>
							</td>
							<td class="p-0">
								<input type="text" class="form-control form-control-sm  border-0 sg_step text-center" name="sg_step[]" value="{{ e.sg_step }}" {% if e.status %}disabled{% endif %}>
							</td> -->
							<td class="p-0">
								<select class="form-control form-control-sm  select as" name="as[]" {% if e.status %}disabled{% endif %}>
									<option></option>
									{% for row in app_status %}
									{% if row.id == e.empstatus_id %}
									<option value="{{ row.id }}" selected="selected">{{ row.acronym }}</option>
									{% else %}
									<option value="{{ row.id }}">{{ row.acronym }}</option>
									{% endif %}
									{% endfor %}
								</select>
							</td>
							<td class="p-0">
								<select class="form-control form-control-sm  select gs" name="gs[]" {% if e.status %}disabled{% endif %}>
									<option></option>
									{% if e.govt_service == 1 %}
									<option value="1" selected="selected">YES</option>
									<option value="0">NO</option>
									{% elif e.govt_service == 0 %}
									<option value="1">YES</option>
									<option value="0" selected="selected">NO</option>
									{% else %}
									<option value="1">YES</option>
									<option value="0">NO</option>
									{% endif %}
								</select>
							</td>
							<td class="p-0">
								<center><button type="button" class="btn btn-danger btn-xs" data-role="delete" data-id="{{ e.id }}" {% if e.status %}disabled{% endif %}><i class="fa fa-minus"></i></button></center>
							</td>
						</tr>
						{% endfor %}
						{% else %}
						<tr>
							<td class="p-0">
								<input type="date" class="form-control form-control-sm  border-0 inc_from text-center" name="inc_from[]">
							</td>
							<td class="p-0">
								<input type="date" class="form-control form-control-sm  border-0 inc_to text-center" name="inc_to[]">
							</td>
{#							<td class="p-0">#}
{#								<select class="form-control form-control-sm  select position" name="position[]">#}
{#									<option></option>#}
{#									{% for row in position %}#}
{#									<option value="{{ row.id }}">{{ row.name }}</option>#}
{#									{% endfor %}#}
{#								</select>#}
{#							</td>#}
                            <td class="p-0">
								<input type="text" class="form-control form-control-sm  border-0 position" name="position[]">
							</td>
							<td class="p-0">
								<input type="text" class="form-control form-control-sm  border-0 company" name="company[]">
							</td>
							<!-- <td class="p-0">
								<input type="text" class="form-control form-control-sm  border-0 salary text-center" name="salary[]">
							</td>
							<td class="p-0">
								<input type="text" class="form-control form-control-sm  border-0 sg_step text-center" name="sg_step[]">
							</td> -->
							<td class="p-0">
								<select class="form-control form-control-sm  select as" name="as[]">
									<option></option>
									{% for row in app_status %}
									<option value="{{ row.id }}">{{ row.acronym }}</option>
									{% endfor %}
								</select>
							</td>
							<td class="p-0">
								<select class="form-control form-control-sm  select gs" name="gs[]">
									<option></option>
									<option value="1">Y</option>
									<option value="0">N</option>
								</select>
							</td>
							<td class="p-0">
								<center><button type="button" class="btn btn-danger btn-xs" data-role="delete" data-id="{{ e.id }}"><i class="fa fa-minus"></i></button></center>
							</td>
						</tr>
						{% endif %}
					</tbody>
				</table>
				<button type="submit" class="btn bg-info display-none" id="click-submit">Save changes</button>
				</form>
			</div>
		</div>
	</div>
</div>
</div>

<div class="modal" id="add-position" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-md">
        <div class="modal-content animated bounceInDown">
	        <div class="modal-header bg-info">
	            <h3 class="modal-title">Add New Position</h3>
				<button type="button" class="close text-white" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	        </div>
            <form id="addPosition">
            {% csrf_token %}
            <div class="modal-body">
                {{ form_pt.name|as_crispy_field }}
                {{ form_pt.acronym|as_crispy_field }}
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn bg-info">Submit</button>
            </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
{% block script %}
<script type="text/javascript">
	var fieldHTML = '<tr>\
	            		<td class="p-0">\
	            			<input type="date" class="form-control form-control-sm  border-0 inc_from text-center" name="inc_from[]">\
	            		</td>\
	            		<td class="p-0">\
	            			<input type="date" class="form-control form-control-sm  border-0 inc_to text-center" name="inc_to[]">\
	            		</td>\
	            		<td class="p-0">\
	            			<input type="text" class="form-control form-control-sm  border-0 position" name="position[]">\
	            		</td>\
	            		<td class="p-0">\
	            			<input type="text" class="form-control form-control-sm  border-0 company" name="company[]">\
	            		</td>\
	            		<td class="p-0">\
	            			<select class="form-control form-control-sm  select as" name="as[]">\
	                            <option></option>\
	                            {% for row in app_status %}\
	                            <option value="{{ row.id }}">{{ row.acronym }}</option>\
	                            {% endfor %}\
	                        </select>\
	            		</td>\
	            		<td class="p-0">\
	            			<select class="form-control form-control-sm  select gs" name="gs[]">\
	                            <option></option>\
	                            <option value="1">YES</option>\
	                            <option value="0">NO</option>\
	                        </select>\
	            		</td>\
	            		<td class="p-0">\
	            			<center><button type="button" class="btn btn-danger btn-xs" data-role="remove"><i class="fa fa-minus"></i></button></center>\
	            		</td>\
	            	</tr>'

	$('.add').on('click', function(){
        $('table').prepend(fieldHTML);

		// fetch_positions();
        $('.select').select2({
        	width: "100%",
            allowClear: true,
            placeholder: "Choose",
        });
    });

    $(document).on('click','button[data-role="remove"]', function(){
        $(this).closest('tr').remove();
    });

    $('#submitWorkForm').on('submit', function(e){
    	if (checkForm() == 0){
	        $.ajax({
	            data        : new FormData(this),
	            url         : '{% url "work-experience" %}',
	            type        : 'POST',
	            beforeSend: function() {
                	$('.btn').prop('disabled', true);
                	$('a').prop('disabled', true);
                },
                success: function(response) {
                	if(response.data) {
						Swal.fire({
                            title: "Well done!",
                            text: "Work Experience has been saved successfully.",
                            icon: "success",
                            confirmButtonColor: "#3498DB",
                        });
					}
                },
                complete: function() {
                	$('.btn').prop('disabled', false);
                	$('a').prop('disabled', false);
                },
	            cache       : false,
	            contentType : false,
	            processData : false
	        })
        }
        e.preventDefault();
    });

    function checkForm(){
        invalid = 0;
        $('.inc_from').each( function() {
            if (this.value == "") {
                $(this).nextAll().remove();
                $(this).after("<span class='error text-danger'>This field is required.</span>");
                invalid += 1;
            } else {
                $(this).nextAll().remove();
            }
        });

        $('.inc_to').each( function() {
            if (this.value == "") {
                $(this).nextAll().remove();
                $(this).after("<span class='error text-danger'>This field is required.</span>");
                invalid += 1;
            } else {
                $(this).nextAll().remove();
            }
        });

        $('.position').each( function() {
            if (this.value == "") {
                $(this).nextAll('.error').remove();
                $(this).after("<span class='error text-danger'>This field is required.</span>");
                invalid += 1;
            } else {
                $(this).nextAll('.error').remove();
            }
        });

        $('.company').each( function() {
            if (this.value == "") {
                $(this).nextAll().remove();
                $(this).after("<span class='error text-danger'>This field is required.</span>");
                invalid += 1;
            } else {
                $(this).nextAll().remove();
            }
        });

        $('.salary').each( function() {
            if (this.value == "") {
                $(this).nextAll().remove();
                $(this).after("<span class='error text-danger'>This field is required.</span>");
                invalid += 1;
            } else {
                $(this).nextAll().remove();
            }
        });

        $('.sg_step').each( function() {
            if (this.value == "") {
                $(this).nextAll().remove();
                $(this).after("<span class='error text-danger'>This field is required.</span>");
                invalid += 1;
            } else {
                $(this).nextAll().remove();
            }
        });

        $('.as').each( function() {
            if (this.value == "") {
                $(this).nextAll('.error').remove();
                $(this).after("<span class='error text-danger'>This field is required.</span>");
                invalid += 1;
            } else {
                $(this).nextAll('.error').remove();
            }
        });

        $('.gs').each( function() {
            if (this.value == "") {
                $(this).nextAll('.error').remove();
                $(this).after("<span class='error text-danger'>This field is required.</span>");
                invalid += 1;
            } else {
                $(this).nextAll('.error').remove();
            }
        });
        return invalid;
    }

    $(document).on('click', 'button[data-role=delete]', function(){
    	var id = $(this).data('id');
    	Swal.fire({
          title: "Are you sure",
          text: "You want to delete this record?",
          icon: "warning",
          showCancelButton: true,
          confirmButtonColor: "#DD6B55",
          confirmButtonText: "Yes",
          allowOutsideClick: false,
        }).then((result) => {
		    if (result.isConfirmed) {
		        Swal.showLoading()
				$.ajax({
					url: "/delete-workexperience/",
					data: {
						id: id
					},
					type: "POST"
				})
				.done(function(data){
					$('tr#'+id).remove();
					Swal.fire("Success!", "Your record was successfully deleted. Farewell.", "success");
				});
			}
    	});
    });

    $('#addPosition').on('submit', function(e){
    	e.preventDefault();
        $form = $(this);
        $.ajax({
            data        : new FormData(this),
            url         : '/add-position/',
            type        : 'POST',
            success: function (response) {
                $('.error').remove();
                if (response.msg){
                    error = '<small class="text-danger error">' + response.msg + '</small>'
                    $form.find('[name=name]').after(error);
                }
                else {
                    $('#add-position').modal('hide');
                    toastrOptions();
                    toastr.success("The position \'" + response.name.toUpperCase() + "\' has been added successfully.", "Well done!");
                    fetch_positions();
                }
            },
            cache       : false,
            contentType : false,
            processData : false
        });
    });

    function fetch_positions(){
        $.getJSON('{% url 'api-positions' request.user.id %}', function(response) {
            data_positions = [];

            for (var d = 0; d < response.data.length; d++) {
                data_positions.push({id: response.data[d].id, text: response.data[d].name});
            }

            $('.position').select2({
                data: data_positions,
                allowClear: true,
                placeholder: 'Choose'
            });
        });
    }
</script>
{% endblock %}